﻿    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = 'fJ6GHg1Mzx'; var d = document; var w = window; function l() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
            } if (d.readyState == 'complete') { l(); } else { if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } }
        })();</script>
    <!-- {/literal} END JIVOSITE CODE -->
    
<section id="global-footer" class="global-footer section-brand-grey-dark">
    <div class="container">
        <div class="row footer-nav">
            <div class="col-xs-12 text-center">
                <ul id="menu-footer-nav" class="">

                    <li class="menu-item menu-resources">
                        <a href="crie.html">Crie</a>
                    </li>
                    <li class="menu-item menu-customers">
                        <a href="informe.html">Informe</a>
                    </li>
                    <li class="menu-item menu-services">
                        <a href="engaje.html">Engaje</a>
                    </li>
                    <li class="menu-item menu-partners">
                        <a href="promova.html">Promova</a>
                    </li>
                    <li class="menu-item menu-company">
                        <a href="analise.html">Analise</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="copyright text-center">
                    © Event Apps 2017. Todos os direitos reservados.
                    <br> +55 11 5696-5300 | Rua Pedroso de Morais, 2315 - Pinheiros, São Paulo – SP
                </div>
            </div>
        </div>
    </div>
</section>
<section class="social-sharing-container dark section-brand-grey-darker">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 social-icons text-center">
                <a href="https://www.linkedin.com/company/eventapps/" title="Connect On LinkedIn" class="at-share-btn at-svc-linkedin icon-linkedin"
                    target="_blank"></a>
                <a href="https://www.facebook.com/Event-Apps-134722940622568/" title="Like Us On Facebook" class="at-share-btn at-svc-facebook icon-facebook"
                    target="_blank"></a>
            </div>
        </div>
    </div>
</section>