﻿<nav data-spy="affix" data-offset-top="1" class="affix-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" itemscope="" itemtype="http://schema.org/Organization">
            <button type="button" id="sidr-menu-toggle" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
                <span>Toggle navigation</span>
            </button>
            <a itemprop="url" class="brand" href="index.html">
                <img src="content/imgs/logo.png?x90009" alt="QuickMobile" width="158" height="38" class="static-logo">
                <img itemprop="logo" src="content/imgs/logo-mini.png?x90009" alt="QuickMobile" width="161" height="38"
                    class="affix-logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="sidr-menu">

              <ul id="menu-primary-navigation" class="nav nav-pills navbar-right">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12379">
                    <a title="Crie" href="crie.html">Crie</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12378">
                    <a title="Informe" href="informe.html">Informe</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10425">
                    <a title="Engaje" href="engaje.html">Engaje</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10433">
                    <a title="Promova" href="promova.html">Promova</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10423">
                    <a title="Analise" href="analise.html">Analise</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>