﻿body {
    font-family: Sofia Pro W01,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #505050;
    background-color: #fff;
}

.logo-bar {
    img {
        max-height: 160px;
        margin-top: -40px;
        margin-bottom: -10px;
    }
}
