body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.bg-brand-blue-light {
    background: $brand-primary; color: #FFF;

    .mktoForm .mktoButtonRow .mktoButtonWrap .mktoButton {
        border: solid 2px #FFF;
    }
    .form-terms a { color: #FFF; }
}
.bg-brand-blue-medium { background: $brand-blue-medium; color: #FFF; }
.bg-brand-blue-dark { background: $brand-blue-dark; color: #FFF; }
.bg-brand-grey-light {
    background: $brand-grey-light;

    &, .section-title { color: $text-color; }
}

.bg-blue-gradient { background: #27aecc; background: linear-gradient(135deg, #2bc2e1 0%,#1189ca 100%); color: #FFF; }
.bg-brand-grey-medium { background: $brand-grey-medium; color: #FFF; }
.bg-brand-grey-dark { background: $brand-grey-dark; color: #FFF; }
.bg-brand-grey-darker { background: $brand-grey-darker; color: #FFF; }
.bg-brand-purple { background: $brand-purple; color: #FFF; }
.bg-brand-red { background: $brand-red; color: #FFF; }
.bg-brand-turquoise { background: $brand-turquoise; color: #FFF; }
.bg-brand-yellow { background: $brand-warning; color: #333; }

.force-color {
    transition: background 0.5s ease-out;

    &.bg-blue-gradient { background: #27aecc!important; background: linear-gradient(135deg, #2bc2e1 0%,#1189ca 100%)!important; color: #FFF; }
    &.bg-brand-blue-light { background: $brand-primary!important; }
    &.bg-brand-blue-medium { background: $brand-blue-medium!important; }
    &.bg-brand-blue-dark { background: $brand-blue-dark!important; }
    &.bg-brand-grey-light {
        background: $brand-grey-light;

        &, .section-title { color: $text-color!important; }
    }

    &.bg-brand-grey-medium { background: $brand-grey-medium!important; }
    &.bg-brand-grey-dark { background: $brand-grey-dark!important; }
    &.bg-brand-grey-darker { background: $brand-grey-darker!important; }
    &.bg-brand-purple { background: $brand-purple!important; }
    &.bg-brand-red { background: $brand-red!important; }
    &.bg-brand-turquoise { background: $brand-turquoise; }

    &:not(.bg-brand-grey-light) {
        .mktoForm, & {
            &, a { color: #FFF!important; }
        }
    }

    &.bg-brand-yellow {
        .mktoForm, &, h2 {
            &, a { color: #333!important; }
        }
    }
}

.infinite {
    position: relative; padding-bottom: 0; transition: padding-bottom 0.2s ease-out;

    .loader {
        height: 0; overflow: hidden; position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; transition: height 0.2s ease-out;

        .loader-inner div { background: $brand-grey-dark; }
    }

    &.infinite-loading {
        padding-bottom: 60px;

        .loader { height: 45px; }
    }
}

.loader { text-align: center; }
.jscroll { margin-bottom: 50px; }

.image-outline {
    border: solid 1px $brand-primary; border-radius: 50%; max-width: 90px; padding: 10px;

    &.big-pad { padding: 30px; }
}

.container-fluid {
    &.constrain { max-width: 1440px; }
    &.full-height { height: 100%; }
}

.embed-container {
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;

    iframe, object, embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

.lity { z-index: 9999999; }

h1, h2, h3, h4, h5, h6, ul, li, p, blockquote {
    &:last-child { margin-bottom: 0; }
}

h1, h2, h3, h4, h5, h6 {
    strong { color: $brand-purple; font-weight: $headings-font-weight; }
}

strong.highlight { color: $brand-primary; }

.title-tag { font-size: 19px; font-weight: 500; text-transform: uppercase; margin-bottom: 5px; }

a.dark { color: $text-color; }
a.light { color: #a0a0a0; }
a.white { color: #FFF; }
a.link-underline {
    text-decoration: underline;

    &:focus, &:hover { text-decoration: none; }
}

.text-upper { text-transform: uppercase; }

.divided-title {
    &:after { content: ''; background: $brand-primary; display: block; height: 3px; margin: 18px auto 14px auto; width: 76px; }
}

img { max-width: 100%; }
.media img { max-width: 999px; }
p.small { line-height: 1.5; }

.well { box-shadow: none; border-radius: 0; border: 0; font-weight: 500; }

.content .section-wysiwyg ul li, .content .section-intro ul li, .arrow-list li, .arrow-bullet {
    list-style: none; padding: 0 0 30px 30px; position: relative;

    &:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 6px 0 6px 10px; border-color: transparent transparent transparent $brand-danger; position: absolute; left: 0; top: 8px; }
}

.content ul.list-unstyled {
    li {
        padding: 0 0 10px 0;

        &:before { display: none; }
    }
}

.content .section-intro ul li {
    .children {
        padding-left: 0; padding-top: 10px;
    }

    &.page_item { padding-bottom: 10px; }
}

.arrow-list {
    display: block; margin: 20px auto; max-width: 320px; list-style: none; padding: 0; text-align: left;
}

blockquote {
    font-size: 21px; font-style: italic; font-weight: 400; line-height: 1.4;
}

.text-left { text-align: left; }

@media (max-width: $screen-sm-min) {
    .text-center-xs { text-align: center; }
}

.table-row-xs { display: table; margin: 0; width: 100%; height: 100%; }
.table-col-xs { display: table-cell; float: none; vertical-align: middle; height: 100%; }

ul.two-col {
    @extend .clearfix;
}

@media (min-width: $screen-sm-min) {
    ul.two-col {
        li {
            float: left;

            &:nth-child(odd) { width: 40%; }
            &:nth-child(even) { width: 60%; }
        }
    }

    .table-row { display: table; margin: 0; width: 100%; }
    .table-col { display: table-cell; float: none; vertical-align: middle; overflow: hidden; }

    .split-text-column {
        span.column {
            display: inline-block; float: left; padding: 0 15px; width: 50%;

            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
        }
    }

    .arrow-list {
        max-width: 720px;

        li { float: left; width: 50%; }

        &.full li { float: none; width: 100%; }
    }
}
