// Glyphicons font path
$icon-font-path: "../fonts/";

// Fonts
$font-family-sans-serif: 'Sofia Pro W01', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$headings-line-height: 1.2;
$headings-font-family: 'Sofia Pro W01', sans-serif;
$headings-font-weight: 300;

// Ultra Light 100
// Extra Light 200
// Light 300
// Regular 400
// Medium 500
// Semi Bold 600

$padding-base-vertical: 14px;
$padding-base-horizontal: 30px;
$padding-large-vertical: 18px;
$padding-large-horizontal: 34px;

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$body-bg: #FFF;
$brand-primary: #00b3ca;
$brand-info: #0e89ca;
$brand-success: #35c174;
$brand-default: #FFF;
$brand-warning: #ffc13a;
$brand-danger: #ff3f3f;
$text-color: #505050;
$headings-color: #292f33;
$link-color: $brand-primary;
$gray-lighter: #F8F8F8;

$brand-blue-light: $brand-primary;
$brand-blue-medium: #0e89ca;
$brand-blue-dark: #053148;
$brand-grey-light: #F8F8F8;
$brand-grey-medium: #7d8f9b;
$brand-grey-dark: #292f33;
$brand-grey-darker: #1f2326;
$brand-purple: #893DCC;
$brand-turquoise: #03fcc2;
$brand-red: $brand-danger;

$category-846: #faa12b; //Event Strategies
$category-836: #00adbb; //Best Practices
$category-848: #b54a74; //Industry & Trends
$category-845: #9446d0; //Product Updates

$blockquote-border-color: $brand-primary;

// Loader Settings
$primary-color: $text-color;

// Form Settings
$input-border-radius: 2px;
$input-color-placeholder: $text-color;
$input-height-base: 33px;

// Menu Settings
$grid-float-breakpoint: 870px;
$dropdown-bg: #FFF;
$dropdown-border: $dropdown-bg;
$dropdown-fallback-border: $dropdown-bg;
$dropdown-divider-bg: $dropdown-bg;
$dropdown-link-color: $text-color;
$dropdown-link-hover-color: $brand-primary;
$dropdown-link-hover-bg: $dropdown-bg;
$dropdown-link-active-color: $brand-primary;
$dropdown-link-active-bg: $dropdown-bg;
$dropdown-header-color: $dropdown-bg;
$dropdown-caret-color: $dropdown-bg;

$navbar-default-toggle-hover-bg: #FFF;
$navbar-default-toggle-icon-bar-bg: #FFF;
$navbar-default-toggle-border-color: #FFF;

$navbar-default-color: #FFF;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;

$border-radius-base: 0;
$navbar-border-radius: 2px;
$navbar-padding-horizontal: 12px;
$navbar-padding-vertical: 12px;
$navbar-collapse-max-height: 900px;

$nav-pills-active-link-hover-bg: transparent;
$nav-pills-active-link-hover-color: $brand-primary;

$jumbotron-padding: 100px;
$jumbotron-color: #FFF;
$jumbotron-bg: transparent;
$jumbotron-heading-color: $jumbotron-color;
$jumbotron-font-size: ceil(($font-size-base * 1.6));
$jumbotron-heading-font-size: ceil(($font-size-base * 3.5));


// Buttons
$btn-default-color: $text-color;
$btn-default-bg: $gray-lighter;
$btn-default-border: $gray-lighter;
$btn-primary-border: $brand-primary;
$btn-success-border: $brand-success;
$btn-info-border: $brand-info;
$btn-warning-border: $brand-warning;
$btn-danger-border: $brand-danger;

$btn-font-weight: 600;
$btn-border-radius-base: 2px;
$btn-border-radius-large: 2px;
$btn-border-radius-small: 2px;

$container-large-desktop: 970px;
