.single-qm-resource.brief-resource {
    header.global-header .jumbotron {
        padding-bottom: 0;

        .caption {
            padding-bottom: 40px;

            h1 { margin-bottom: 0; }
            p { line-height: 1.3; }
            p.intro { font-size: 16px; line-height: 1.6; font-weight: 400; }
            .btn { margin-right: 0; margin-left: 0; }
        }

        .device-video { margin-bottom: -64px; }

        @media (min-width: $screen-sm-min) {
            padding-top: 130px;

            .caption { padding-bottom: 40px; padding-top: 40px; }
        }
    }

    .wrap { padding-top: 30px; }

    section.content-section  {
        //.constrain { max-width: 920px; }

        &.section-device_feature:not(.with-background) {
            h2 { color: $brand-purple; }
        }

        //.device-image.right-middle-align img.device { margin-right: 0; width: auto; }
        //.device-image.left-middle-align img.device { margin-left: 0; width: auto; }

        &.section-cta_bar {
            .btn-white.btn-outline {
                &:not(:hover), &:not(:focus) {
                    background: #FFF; color: $brand-primary;
                }
            }
        }
    }
}

