body.page-template-template-demandbase-audience-page {
    .global-header .jumbotron {
        .h1, h1 { border-bottom: solid 2px $brand-warning; padding-bottom: 15px; margin-bottom: 10px; }
    }

    .section-device_feature {
        h2 { color: $brand-primary; }
        .section-intro h2.section-title { font-size: 38px; }
    }

    .section-client_logos {
        background: $brand-warning;
    }
}
