.global-footer {
    padding-top: 50px;

    .footer-title {
        position: relative;
        .title { background: $brand-grey-dark; display: inline-block; font-size: 36px; font-weight: 100; line-height: 1; padding: 20px 35px; position: relative; z-index: 2; }
        &:before { content: ''; background: #3f4448; height: 1px; position: absolute; left: 0; top: 39px; width: 100%; z-index: 1; }
    }
}

.footer-nav {
    font-size: 18px; text-align: center; padding-top: 50px;
    a { color: #FFF; font-size: 18px; font-weight: 600; padding: 5px 10px; text-transform: uppercase; }
    .caret { display: none; }

    .secondary-nav {
        border-top: solid 1px #3f4448; padding-top: 20px; margin-top: 20px;

        a { color: #787878; font-weight: 300; }
        li:first-child, li:last-child { display: none; }
    }
}

#menu-footer-nav {
    ul, li { margin: 0; padding: 0; list-style: none; line-height: 1.2; }
    li { vertical-align: top; }

    > li {
        max-width: 165px; display: inline-block; text-align: left; padding: 0 40px 0 0; margin-bottom: 40px;

        &:last-child { padding-right: 0; }
        a { display: block; font-weight: 300; text-transform: none; font-size: 14px; padding: 5px 0; }
        > a { font-weight: 500; text-transform: uppercase; padding-bottom: 14px; font-size: 18px; }
        .sub-menu .sub-menu { padding-left: 10px; }
    }

    li {
        &.highlight > a { font-weight: 700; color: $link-color; }
    }
}

.copyright {
    font-size: 13px; line-height: 2; padding: 60px 0 40px 0;

    &, a { color: #787878; }
    a { display: inline-block; padding: 0 12px; }
}

.social-sharing-container.section-brand-grey-darker {
    background: $brand-grey-darker; font-size: 30px; line-height: 1; padding-top: 32px; padding-bottom: 32px; margin-top: 0;

    a { margin: 0 10px; }
    .icon-quickmobile { color: #464646; }

    .at-icon-wrapper, a { color: $brand-danger; }
    .text-right a {
        margin-left: 30px;

        &:first-child { margin-left: 0; }
    }
}


@media (min-width: $screen-sm-min) {
    .social-sharing-container.section-brand-grey-darker {
        a { margin: 0 30px; }
    }

    .footer-nav {
        a { padding: 5px 22px; }
    }
}
