header.global-header {
    background: $brand-blue-dark;

    body.single-post & { min-height: 50vh; }
    body.tour & { max-height: 580px; }
    body.page-template-template-product-tour & {
        height: 80vh;

        &.with-device-slide .jumbotron { padding-bottom: 280px; }

        .jumbotron {
            p, h1.sub-title {
                &:after {
                    //content: "\46"; display: block; font-size: 38px; font-family: "quickmobile"; font-style: normal; font-weight: normal; line-height: 1; animation: scrollpulse 2s infinite; opacity: 1;
                }
            }
        }
    }

    @keyframes scrollpulse {
        0% { opacity:1; }
        50% { opacity:0.6; }
        100% { opacity:1; }
    }

    body.home & { height: calc(100vh - 99px); }

    &.header-video { background-color: transparent!important; }

    //Add a wrapper around the main nav so we can preserve the height when we affix the menu.
    .nav-wrap {
        height: 40px; position: absolute; width: 100%; z-index: 9999;

        .affix-logo { display: none; }
    }

    .navbar-right { position: relative; }
    nav { transition: background 0.2s ease-out; padding: 5px 0 4px 0; }

    .nav-pills {
        font-size: 13px;

        > li {
            .caret { display: none; margin-top: -3px; transition: transform 0.2s ease-out; }
            &.open .caret { transform: rotate(180deg); }

            &.btn {
                top: 5px;
                > a {
                    color: $brand-primary; padding: 0;

                    &:hover, &:focus { background: $brand-primary; color: #FFF; }
                }
            }

            > a {
                border-radius: 2px; color: #FFF; text-transform: uppercase;
            }

            &.open > a, > a:hover, > a:focus, &.active > a { background: transparent; color: #FFF; font-weight: 700; }
        }
    }

    .dropdown-menu {
        border: 0; box-shadow: none; font-size: 13px; top: 120%; box-shadow: 0 1px 1px 0 rgba(40,40,40,0.2);

        .dropdown-menu { display: block; position: relative; left: 0; top: 0; margin-top: 0; box-shadow: none; padding: 0 0 0 15px; }

        >li>a {
            &:focus, &:hover {
                color: #2fbad3;
            }
        }

        &:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 10px 7px 10px; border-color: transparent transparent #ffffff transparent; position: absolute; top: -6px; left: 20px; }
    }

    #menu-secondary-nav {
        &.nav-pills > li {
            > a { font-size: 14px; text-transform: none; }
        }
    }

    @keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-webkit-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }
    @-moz-keyframes blink{
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
    }

    @keyframes rotateWord {
        0% { opacity: 0; }
        2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
        5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
        17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
        20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
        80% { opacity: 0; }
        100% { opacity: 0; }
    }

    .jumbotron {
        font-weight: 300; padding-top: 110px; margin-bottom: 0; min-height: 360px;

        &:not(.with-carousel) {
            display: table; width: 100%; max-width: 1024px; margin: 0 auto; height: 100%;

            > .container {
                display: table-cell; vertical-align: middle;

                body.single-qm-case-study & { vertical-align: bottom; }
            }
        }

        &.with-carousel {
            padding-top: 0; padding-bottom: 0;

            .carousel-cell { min-height: 100%; }
            .carousel-caption { padding-bottom: 160px; padding-top: 170px; }
        }

        &.with-device-preview { padding-bottom: 0; padding-top: 110px; margin-bottom: 70px; }
        &.with-device-preview-bottom {
            padding-bottom: 0;

            >.container { vertical-align: bottom; }
            .device-preview { padding-bottom: 0; }
        }

        h2 {
            color: #FFF; font-weight: 200; font-size: 26px; margin: 0 0 12.5px;
        }

        h1, .h1 {
            font-weight: 100; line-height: 1.15; margin: 0 auto; max-width: 1052px;

            body.page-template-template-demandbase-audience-page & {
                @media (min-width: $screen-sm-min) {
                     font-size: 42px;
                }
            }
        }

        h1.sub-title { font-size: 26px; font-weight: 400; line-height: 1.6; margin: 0 0 12.5px; }

        p.rotating-words {
            display: block; font-weight: 100; height: 73px; text-align: center;

            strong { font-weight: 600; }
            span {
                display: block; position: absolute; opacity: 0; overflow: hidden; width: 100%; text-align: center;

                &.active { animation: rotateWord 32s linear 0s; }
            }
        }

        h2, h1, .h1, p {
            margin-bottom: 21px;

            &:last-child { margin-bottom: 0; }
        }

        .btn {
            margin: 4px 8px;
        }

        .cta-tagline {
            &, &h1 { font-size: 19px; font-weight: 300; padding-top: 25px; }
        }

        .mktoForm {
            .mktoButtonRow .mktoButtonWrap .mktoButton { margin: 0; }
            .mktoButtonRow, .mktoFormRow .mktoFormCol { padding: 0 20px 0 0; }
        }

        .device-preview {
            padding-bottom: 15px;

            body.single-qm-resource & { padding-bottom: 0; }
            img { height: auto; max-height: 280px; width: auto; }
        }

        &.with-form {
            padding-bottom: 90px;

            .caption { padding-top: 70px; }
        }

        body.home & {
            max-width: 1200px;

            .typing-wrap { font-size: 26px; margin-bottom: 40px; }
            .typing {
                color: $brand-primary; font-weight: 600; position: relative; text-transform: uppercase;

                span { color: #FFF; font-weight: 300; }
            }

            .typed-cursor{ opacity: 1; right: 6px; position: relative; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; animation: blink 0.7s infinite; }

            .cta-tagline { font-size: 26px; font-weight: 100; padding-top: 0; line-height: 1.1; margin-bottom: 35px; }

            h1 { font-size: 35px; font-weight: 300; line-height: 0.95; letter-spacing: 0; text-transform: none; margin-bottom: 11px; }

            .btn {
                font-size: 22px; font-weight: 500;

                &.btn-outline.btn-white {
                    border: solid 2px #00abcf; color: #00abcf; border-radius: 8px;

                    &:hover, &:focus { background: #00abcf; color: #FFF; }
                }
            }

            @media (max-width: 376px) {
                padding-top: 70px;
                p { line-height: 1.1; }

                .btn { display: block; max-width: 300px; margin: 5px auto; }
            }

            @media (min-width: 375px) {
                h1 { font-size: 42px; }
            }

            @media (min-width: $screen-sm-min) {
                h1 { font-size: 48px; }
                .typing-wrap, .cta-tagline { font-size: 38px; }
                .cta-tagline { margin-bottom: 55px; }
                .typing-wrap { margin-bottom: 100px; }
            }
        }

        body.single-qm-case-study & {
            padding-bottom: 0;

            .caption {
                height: 250px; padding-top: 50px; padding-bottom: 50px; position: relative; vertical-align: middle;

                h1 { position: relative; top: 50%; transform: translateY(-50%); transition: all 0.3s ease-out; }
            }
        }

        body.single-qm-resource & {
            height: 540px;

            h1 { font-size: 52px; }
            h2, h1, p { margin-left: auto; margin-right: auto; max-width: 840px; }
        }

        &.resource-confirmation {
            max-width: 850px;

            h1 { font-size: 26px; line-height: 1.4; }
            h2, p {
                font-size: 16px; font-weight: 200;

                &.download-message {
                    border-top: solid 1px #8698a1; padding-top: 20px;

                    a {
                        text-decoration: underline;

                        &:hover { text-decoration: none; }
                    }
                }

                &.demo-request {
                    font-size: 18px;

                    strong { font-weight: 300; }
                }
            }
        }
    }

    body.home &.demandbase-header {
        min-height: calc(100vh - 73px); height: auto;

        .jumbotron {
            max-width: 1600px; padding-top: 110px; padding-left: 30px; padding-right: 30px; min-height: calc(100vh - 73px);

            h1 {
                font-size: 26px; line-height: 1.26; text-transform: uppercase; margin: 0 0 20px 0;

                span { color: $brand-primary; }
            }

            .sub-title { font-size: 18px; line-height: 1.26; max-width: 680px; }
            .btn { font-size: 16px; padding: 10px 30px 12px 30px; margin-left: 0; margin-right: 15px; }
            .ctas { margin: 40px 0; }
            .cta-tagline { font-size: 16px; line-height: 1.46; }

            @media (min-width: $screen-sm-min) {
                h1 { font-size: 28px; }
                .sub-title { font-size: 18px; }
            }

            @media (min-width: $screen-md-min) {
                h1 { font-size: 38px; }
                .sub-title { font-size: 24px; }
            }
        }

        &.industry-user {
            .jumbotron {
                h1 {
                    margin-bottom: 0;

                    span { color: $brand-warning; }
                }

                .sub-title {
                    font-weight: 300;

                    @media (min-width: $screen-md-min) {
                        font-size: 23px;
                    }
                }
            }

            .btn:not(.btn-outline) {
                background: $brand-warning!important; border-color: $brand-warning!important;

                &:hover, &:focus { background: $brand-warning!important; color: $brand-primary!important; border-color: $brand-warning!important; }
            }

            .btn {
                &:hover, &:focus { color: $brand-primary!important; }
            }
        }
    }

    body.page-template-template-demandbase-audience-page &, body.home.yellow & {
        .jumbotron {
            .typing { color: $brand-warning; }
        }

        .btn {
            background: $brand-warning!important; border-color: $brand-warning!important;

            &:hover, &:focus { background: $brand-warning!important; color: $brand-primary!important; border-color: $brand-warning!important; }
        }
    }

    nav.affix {
        background: #FFF; box-shadow: 0 1px 1px 0 rgba(40,40,40,0.2); top: 0; width: 100%; z-index: 9999999;

        .static-logo { display: none; }
        .affix-logo { display: block; }

        #menu-primary-navigation { float: left!important; }
        .nav-pills {
            > li {
                > a { color: $text-color; padding: 4px 6px; }
                > a.btn {
                    color: #FFF; margin: 0 0 -4px 0; font-size: 12px; padding: 7px 16px 10px;

                    &:hover, &:focus { color: $brand-primary; }
                }

                &.menu-search > a { padding-left: 2px; padding-right: 10px; }
                &.open > a, > a:hover, > a:focus, &.active > a { background: transparent; color: $link-color; }
            }
        }
    }
}

.header-banner {
    font-size: 26px; font-weight: 300; padding: 25px 10px;

    a { color: $text-color; }
}

.navbar-toggle {
    position: relative; overflow: hidden; margin: 0; padding: 0; width: 34px; height: 31px; font-size: 0; text-indent: -9999px; appearance: none; box-shadow: none; border-radius: none; border: none; cursor: pointer; float: right;

    &:focus { outline: none; }

    span {
        top: 14px; left: 8px; right: 8px;

        &, &::before, &::after { border-radius: 2px; height: 2px; background: #FFF; display: block; position: absolute; }
        &::before, &::after { left: 0; width: 100%; content: ""; transition-duration: 0.3s, 0.3s; transition-delay: 0.3s, 0s; }
        &::before { top: -6px; transition-property: top, transform; }
        &::after { bottom: -7px; transition-property: bottom, transform; }
    }

    body.sidr-open & {
        span {
            background: none;

            &::before { top: 0; transform: rotate(45deg); }
            &::after { bottom: 0; transform: rotate(-45deg); }
            &::before, &::after { transition-delay: 0s, 0.3s; }
        }
    }

    nav.affix & {
        span {
            &, &::before, &::after { background: $text-color; }
        }

        body.sidr-open & span { background: transparent; }
    }
}

body.simple-nav {
    .menu-blog, .menu-search, .menu-item-10440, .menu-item-10436, .menu-item-10437, #menu-primary-navigation > li { display: none; }
    #menu-primary-navigation { margin-right: 10px; float: left!important; }
    #menu-primary-navigation>li.menu-item-10422 { display: block; }
    #menu-secondary-nav.nav-pills>li>a { text-transform: uppercase; font-size: 13px; }
    @media (min-width: 870px) { header.global-header nav.affix-top #menu-secondary-nav.nav-pills>li>a { padding-top: 2px; } }
}

body.simple-footer {
    section.content-section:last-child {
        &.section-client_quote_banner, &.section-device_feature, &.section-logo_tiles {
            padding-bottom: 80px;
        }
    }

    #global-footer { display: none; }
}

@media (min-width: $screen-sm-min) {
    .jumbotron { padding-bottom: 20px; }
}

@media (min-width: $grid-float-breakpoint) {
    .navbar-right .dropdown-menu {
        right: auto;
        left: 0;
    }

    .nav-wrap { height: 70px; }

    header.global-header {
        nav { padding-top: 15px; padding-bottom: 15px; }

        .nav-pills > li {
            > a {
                padding: 10px;

                &.btn { border-radius: 30px!important; padding: 7px 16px 10px; }
            }
        }

        #menu-secondary-nav {
            &.nav-pills > li {
                &.menu-blog { border-left: solid 1px #e0e0e0; }
            }
        }

        nav.affix-top {
            padding-top: 42px; max-width: 1600px; margin: 0 auto;

            //body.single & { background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, transparent 100%); }


            #menu-secondary-nav {
                position: absolute; top: -24px; right: -10px;

                &.nav-pills > li {
                    > a { line-height: 1; padding: 0 10px; top: -2px; }
                }

                &.menu-blog { border-left: solid 1px #FFF; }
            }

            .btn { margin-top: 6px; }
            body.simple-nav & {
                #menu-secondary-nav { position: relative; top: 13px; right: 10px; }
            }
        }

        nav.affix {
            width: 100%; max-width: 9999px;
            #menu-secondary-nav .menu-phone { display: none; }
        }
    }
}

@media (min-width: 1012px) {
    header.global-header {
        nav.affix {
            .nav-pills {
                > li {
                    > a:not(.btn) { padding: 4px 10px; }
                    &.menu-search > a { padding-left: 3px; padding-right: 15px; }
                }
            }
        }
    }
}
