body.single-qm-int-landing {
    padding-top: 58px!important;

    img { width: auto; height: auto; max-width: 100%; }
    .container { max-width: 970px; }

    .landing-header {
        z-index: 999; background: rgba(255,255,255,0.9); width: 100%; box-shadow: 0 2px 4px rgba(46, 46, 46, 0.3); padding-top: 12px; padding-bottom: 12px; position: fixed; top: 0;

        > .container > .row { margin-left: -5px; margin-right: -5px; }

        &.affix { top: 0; }
        .logo, .demo-button { padding: 0; }

        .btn {
            padding: 4px 5px;
        }
    }

    .brand-logo { height: auto; margin-top: 6px; width: 166px; }

    .interactive-prototype {
        background: transparent url(../images/interactive/interactive-landing-page-prototype-bg.jpg) no-repeat top left; background-size: 120% 55%; padding: 40px 0;

        > .container {
            padding-left: 5px; padding-right: 5px;

            > .row { margin-left: -5px; margin-right: -5px; }
        }

        .demo-intro {
            color: #FFF; text-align: center;

            h1 {
                color: #00c7ef; font-size: 48px; margin-bottom: 0; margin-top: 0; font-weight: 700; text-transform: uppercase;

                &.long-name { font-size: 36px; }
            }
            h3 { color: #FFF; margin-bottom: 14px; margin-top: 0px; font-size: 26px; }

            p {
                margin-bottom: 20px;

                &.intro { font-weight: 300; font-size: 16px; padding: 0 5px; }
                &:last-child { margin-bottom: 0; }
            }

            .btn { background: #00c7ef; font-size: 16px; text-transform: none; padding: 12px 26px 14px 26px; }
        }

        .prototype {
            .demo-bg { background: #87ba00; }
            .demo-text { color: #87ba00; }

            background: transparent url(../images/interactive/iphone-6-silver.png) no-repeat 0 0; background-size: 100% 100%; box-sixing: border-box; height: 606px; width: 297px; margin: 220px auto 0 auto; padding: 70px 20px 69px 20px; position: relative; left: -4px;

            .viewport {
                background: #000 url(../images/interactive/prototype/phone-wallpaper.png) no-repeat 0 0; background-size: cover;height: 100%; width: 100%; overflow: hidden; position: relative;


                .feed-nav-toggle.inactive:after { border: 4px solid #fff; background: transparent; content: ''; border-radius: 50%; height: 28px; width: 28px; animation: pulse 3s ease-out; animation-iteration-count: infinite; position: absolute; top: -4px; left: -5px; z-index: 1; opacity: 0; }

                @keyframes pulse {
                    0% { transform: scale(0); opacity: 0.0; }
                    25% { transform: scale(0); opacity: 0.1; }
                    50% { transform: scale(0.2); opacity: 0.3; }
                    75% { transform: scale(0.6); opacity: 0.5; }
                    100% { transform: scale(1); opacity: 0.0; }
                }

                @-moz-keyframes pulse {
                    0% { -moz-transform: scale(0); opacity: 0.0; }
                    25% { -moz-transform: scale(0); opacity: 0.1; }
                    50% { -moz-transform: scale(0.2); opacity: 0.3; }
                    75% { -moz-transform: scale(0.6); opacity: 0.5; }
                    100% { -moz-transform: scale(1); opacity: 0.0; }
                }

                @-webkit-keyframes "pulse" {
                    0% { -webkit-transform: scale(0); opacity: 0.0; }
                    25% { -webkit-transform: scale(0); opacity: 0.1; }
                    50% { -webkit-transform: scale(0.2); opacity: 0.3; }
                    75% { -webkit-transform: scale(0.6); opacity: 0.5; }
                    100% { -webkit-transform: scale(1); opacity: 0.0; }
                }

                .status-bar { position: absolute; top: 0; left: 0; width: 100%; height: 20px; padding: 6px 4px; z-index: 99; font-size: 0; }

                .slide-panel {
                    height: 100%; position: absolute; top: 0; width: 100%; transition: all 0.5s ease-out; padding-top: 20px; overflow-y: scroll; -ms-overflow-style: -ms-autohiding-scrollbar;

                    &.full { background: #000 url(../images/interactive/prototype/phone-wallpaper.png) no-repeat 0 0; background-size: cover; }

                    &.left-panel, &.right-panel {  }

                    &.left-panel {
                        left: -100%;

                        &.active { left: 0; }
                    }
                    &.right-panel {
                        right: -100%;

                        &.active { right: 0; }
                    }
                }

                .panel-title {
                    padding: 10px 0 12px 0; text-align: center; color: #FFF; font-size: 20px; line-height: 1; position: relative;

                    .title-icon { position: absolute; left: 8px; }
                }

                .panel-sub-title {
                    background: #FFF; font-size: 12px; line-height: 1; padding: 14px 10px;  margin-top: 6px;

                    &:first-child { margin-top: 0; }
                }

                .panel-footer {
                    color: #999; padding: 4px 15px 7px 15px; background-color: #FFF; border-top: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 0; position: absolute; width: 100%; font-size: 10px; bottom: 0; line-height: 1;

                    span { font-size: 28px; line-height: 1; position: relative; top: 3px; }
                }

                .panel-content { padding: 4px; position: relative; }

                #prototype-activity-feed {
                    overflow: hidden;

                    .panel-title {
                        right: 0; transition: right 0.38s ease-out;

                        &.nav-open { right: -223px; transition: right 0.54s ease-out; }
                    }
                    .panel-content { padding: 14px 18px 18px 5px; overflow-y: scroll; -ms-overflow-style: -ms-autohiding-scrollbar; height: 100%; width: 270px; }

                    .feed-logo {
                        background: #FFF; padding: 14px; text-align: center; margin-bottom: 5px;

                        img { max-width: 85%; }
                    }
                }

                #prototype-nav {
                    background: #FFF; overflow: hidden; width: 223px;

                    .panel-content { padding: 0; }
                    .settings-icons {
                        padding: 8px 16px; font-size: 22px; opacity: 0.4;

                        i {
                            margin: 0 5px;

                            &:last-child { margin-right: 0; }
                        }
                    }

                    .customer-logo {
                        padding: 5px 25px 20px 25px; text-align: center;

                        img { max-height: 50px; }
                    }

                    .nav-items {
                        border-top: solid 1px #c1c1c1;

                        a.item { color: #646464; display: block; padding: 8px 14px; font-size: 16px; border-bottom: solid 1px #c1c1c1; }
                        i { font-size: 22px; position: relative; top: 3px; margin-right: 15px; }
                    }

                    .see-more {
                        .caption {
                            position: absolute; padding: 52px 36px; font-size: 16px; text-align: center; line-height: 1.3;

                            a {
                                text-decoration: underline;

                                &:hover { text-decoration: none; }
                            }
                        }
                    }
                }

                #prototype-attendees {
                    .panel-content { padding-right: 11px; }

                    .panel-letter-nav {
                        font-size: 10px; position: absolute; right: 2px; top: 138px;

                        .item { margin-bottom: 2px; }
                    }

                    .inactive { opacity: 0.5; }
                }

                #prototype-schedule {
                    .schedule-days-heading {
                        background: #666; color: #FFF; font-size: 11px; font-weight: bold; text-align: center;

                        .item { display: inline-block; padding: 6px 19px; }
                    }

                    .schedule-days {
                        text-align: center;

                        .item {
                            display: inline-block; border-radius: 50%; width: 38px; height: 38px; font-size: 16px; position: relative; text-align: center; padding: 8px 0px 8px 1px; background: #FFF; letter-spacing: 0px; margin: 6px 3px; opacity: 0.4;

                            &.active {
                                color: #FFF; opacity: 1;

                                span { font-size: 7px; position: absolute; top: 2px; letter-spacing: 0px; left: 13px; }
                            }
                        }
                    }
                }

                #prototype-schedule-details {
                    .schedule-details {
                        position: relative;

                        .icon-marker { position: absolute; bottom: 11px; left: 13px; font-size: 17px; line-height: 1; }
                    }
                }
            }

            &:after { content: ''; background: transparent url(../images/interactive/click-here-vertical.png) no-repeat 0 0; display: block; position: absolute; margin-left: -61px; top: -187px; left: 50%; height: 174px; width: 124px; }
        }
    }

    .interactive-companies {
        background: #464646; color: #FFF; padding: 15px 0;

        p { margin: 20px 0 10px 0; }
        img { height: 47px; width: auto; margin: 10px; }
    }

    .interactive-demo {
        background: #00c7ef; padding: 42px 0;

        .demo-form {
            background: #FFF; box-shadow: 1px 0 6px rgba(0,0,0,0.2); margin: 20px 0; padding: 20px 10px; position: relative;

            .form-intro { margin-bottom: 30px; }
            #demosignup { position: absolute; top: -90px; }
            h2 { color: #00c7ef; font-size: 28px; margin: 0 0 3px 0; text-transform: uppercase; }
            .mktoForm {
                .mktoFormRow .mktoFieldWrap {
                    input.mktoTextField, input.mktoEmailField, input.mktoTelField, .mktoForm select.mktoField {
                        width: 100%!important;
                    }
                }

                .mktoButtonRow {
                    width: 100%;

                    .mktoButtonWrap {
                        .mktoButton {
                            background: #00c7ef; border: 0; color: #FFF; font-size: 16px; text-align: center; width: 100%; padding: 12px;

                            &:hover, &:focus { background: darken(#00c7ef, 5%); border: 0; color: #FFF; box-shadow: none; }
                        }
                    }
                }
            }
        }
    }

    #testimonial-carousel {
        color: #FFF; margin-bottom: 70px;

        .carousel-indicators {
            bottom: -38px;

            li {
                width: 8px; height: 8px;

                &, &.active { margin: 0 5px; }
            }
         }

        .inner { margin: 0 auto; max-width: 350px; }
        .testimonial-quote { font-size: 16px; margin: 10px 0; }
        .testimonial-author { font-size: 13px; line-height: 1.6; margin: 15px 0; }
        .testimonial-logo {
            border-top: solid 1px rgba(255,255,255,0.2); border-bottom: solid 1px rgba(255,255,255,0.2); padding: 12px 0; margin: 20px auto; max-width: 95%;

            img { max-height: 46px; max-width: 80%; height: auto; }
        }
    }

    .landing-footer {
        padding: 22px 0;

        &, a { color: #c8c8c8; }

        a {
            &.circle-icon {
                display: inline-block; border: solid 1px #c8c8c8; border-radius: 50%; padding: 6px; font-size: 20px; height: 36px; line-height: 30px; width: 36px; text-align: center;

                &:hover, &:focus {
                    color: #FFF;

                    &.icon-twitter { border-color: #58adea; background: #58adea; }
                    &.icon-linkedin { border-color: #2587ba; background: #2587ba; }
                    &.icon-youtube { border-color: #cd362e; background: #cd362e; }
                    &.icon-facebook { border-color: #3a5999; background: #3a5999; }
                }
            }
        }
    }

    .qm-icon-sprite {
        background: transparent url(../images/quickmobile-q-icon-sprite.png) no-repeat 0 0; display: inline-block; height: 36px; width: 39px;

        &:hover, &:focus { background-position: 0 -37px; }
    }
}

@media (min-width: 350px) {
    body.single-qm-int-landing {
        .brand-logo { margin-top: 0; width: 220px; }
    }
}

@media (min-width: 768px) {
    body.single-qm-int-landing {
        padding-top: 78px!important;

        .landing-header {
            padding-bottom: 20px; padding-top: 20px;

            .btn { padding: 6px 12px; }
        }

        .interactive-prototype {
            background-size: 60% 115%; padding: 70px 0;

            .demo-intro {
                text-align: left;

                h1 {
                    font-size: 60px; margin-top: 110px; padding-right: 30px;

                    &.long-name { font-size: 48px; }
                }
                h3, p { padding-right: 60px; }
                h3 { font-size: 28px; }
                p.intro { padding: 0; font-size: 19px; }
            }

            .prototype {
                margin: 0 0 0 auto;

                &:after { background: transparent url(../images/interactive/click-here.png) no-repeat 0 0; top: 105px; left: -84px; height: 132px; width: 138px; }
            }
        }

        .interactive-demo {
            padding: 72px 0;

            .demo-form {
                margin: 20px 10px; padding: 20px 40px;
            }
        }

        .interactive-companies {
            img { height: 57px; margin: 20px; }
        }

        #testimonial-carousel {
            margin-top: 90px;
        }
    }
}
