@keyframes shadowPulse {
    0% {
        box-shadow: 2.1px 3.4px 11.2px 3.8px rgba(0, 0, 0, 0.12);
        opacity: 1;
    }

    50% {
        box-shadow: 2.1px 3.4px 11.2px 5.8px rgba(0,0,0,0.28);
        opacity: 0.2;
    }

    100% {
        box-shadow: 2.1px 3.4px 11.2px 3.8px rgba(0, 0, 0, 0.12);
        opacity: 1;
    }
}

header.global-header, section {
    &.section-brand-blue-light {
        background: $brand-primary;
        color: #FFF;
    }

    &.section-brand-blue-dark {
        background: $brand-blue-dark;
        color: #FFF;
    }

    &.resource_slider-block, &.section-brand-grey-light {
        background: $brand-grey-light;
    }

    &.section-brand-grey-medium {
        background: $brand-grey-medium;
        color: #FFF;
    }

    &.section-brand-grey-dark {
        background: $brand-grey-dark;
        color: #FFF;
    }

    &.section-brand-grey-darker {
        background: $brand-grey-darker;
        color: #FFF;
    }

    &.section-brand-purple {
        background: $brand-purple;
        color: #FFF;
    }

    &.section-brand-red {
        background: $brand-red;
        color: #FFF;
    }

    &.section-brand-red {
        background: $brand-red;
        color: #FFF;
    }

    &.section-blue-medium {
        background: $brand-blue-medium;
        color: #FFF;
    }

    .wrap & {
        &.section-brand-blue-medium, &.section-brand-blue-light, &.section-brand-blue-dark, &.section-brand-grey-medium, &.section-brand-grey-dark, &.section-brand-grey-darker, &.section-brand-purple, &.section-brand-red {
            a:not(.btn) {
                color: #FFF;
                text-decoration: underline;

                &:focus, &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.content {
    overflow: hidden;
}

section.content-section {
    padding: 70px 0;

    &.no-background + &.no-background {
        padding-top: 0;
    }

    &.small-pad {
        padding: 40px 0;
    }

    body.home & {
        padding: 35px 0;

        &.section-client_logos {
            padding: 0;
        }

        &.section-stats {
            padding-bottom: 5px;
        }

        &.block-4 {
            &, .section-title, a {
                color: #000;
            }

            .section-title {
                padding-top: 15px;
            }
        }

        &.block-5 {
            padding-bottom: 0;
        }

        &.block-6 {
            padding-top: 0;
        }

        &.section-cta_bar {
            .cta-label {
                text-shadow: 4.1px 6.9px 8.9px rgba(33, 19, 10, 0.45);
                font-size: 32px;
                max-width: 500px;
                margin: 0 auto 20px auto;
            }

            .btn.btn-white.btn-outline {
                background: #FFF;
                color: $link-color;
                font-weight: 300;
                text-transform: none;
                font-size: 22px;

                &:hover, &:focus {
                    color: #FFF;
                    background: $link-color;
                }
            }
        }
    }

    .section-title {
        font-weight: 300;
        font-size: 32px;
        margin-bottom: 36px;
        margin-top: 0;
        text-align: center;

        &.text-left {
            text-align: left;
        }

        &.large {
            font-size: 48px;
            font-weight: 100;
        }
    }

    .section-intro {
        p {
            font-size: 21px;
            font-weight: 200;
            line-height: 1.5;
            margin-bottom: 8px;
        }

        h3 {
            margin-top: 30px;
            margin-bottom: 14px;
        }
    }

    &.section-wysiwyg {
        ul, p {
            margin-bottom: 35px;
        }

        ul {
            padding-left: 0;

            li {
                padding-bottom: 10px;
            }
        }

        .services & + .section-intro {
            background: $gray-lighter;
        }
    }

    &.bottom-divider {
        border-bottom: solid 1px #dcdcdc;
    }

    &.with-background, .with-background {
        &, .section-title, h2, h3, h4 {
            color: #FFF;
        }

        h2, h3 {
            margin-top: 0;
        }

        a:not(.btn) {
            color: $brand-primary;
        }
    }

    &.with-footer {
        padding-bottom: 170px;
        position: relative;
    }

    .container.narrow {
        max-width: 880px;
    }

    .footer-bar {
        background: rgba(255,255,255,0.9);
        color: $text-color;
        position: absolute;
        padding: 29px 15px;
        font-weight: 300;
        font-size: 26px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    &.support-form {
        padding-top: 0;
    }

    &.section-section_divider {
        border-top: 1px solid #dcdcdc;
        margin: 0;
        padding: 0;

        &.padding-top {
            margin-top: 60px;
        }

        &.padding-bottom {
            padding-bottom: 60px;
        }
    }

    &.section-stats {
        padding-bottom: 0;
        box-shadow: 2.1px 3.4px 7.2px 1.8px rgba(0, 0, 0, 0.38);
        z-index: 1;
        position: relative;

        .stat {
            padding-bottom: 35px;
        }

        .title {
            font-weight: 700;
            font-size: 50px;
            line-height: 1;
        }
    }

    &.section-carousel {
        padding: 0 !important;

        .tag {
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 18px;
            font-size: 20px;
            line-height: 1;
        }

        p, h3 {
            margin-bottom: 20px;
        }

        .btn {
            margin-top: 10px;
        }

        .flickity-prev-next-button {
            background: transparent;

            svg {
                width: 100%;
                height: 100%;

                @media (min-width: $screen-sm-min) {
                    left: 40%;
                }
            }

            &.next {
                @media (min-width: $screen-sm-min) {
                    svg {
                        left: auto;
                        right: 40%;
                    }
                }
            }
        }

        .content-carousel.no-backgrounds {
            .flickity-prev-next-button .arrow {
                fill: $text-color;
            }
        }
    }

    &.section-content_tabs {
        background: #f5f5f5;

        h2 {
            margin-bottom: 15px;
        }

        .tab-nav {
            padding-top: 20px;
            text-align: center;

            li {
                display: inline-block;
                float: none;
                padding: 5px 10px;
                width: 23%;
            }

            .btn {
                display: inline-block;
                text-transform: none;
                width: 100%;
            }

            .active .btn {
                background: $brand-purple;
                color: #FFF;
            }
        }

        .featured-resource {
            background: #FFF;
            display: block;
            font-size: 14px;

            &:hover, &:focus {
                text-decoration: none;
            }

            .tile-content {
                padding: 16px;
            }

            .tile-title {
                margin-bottom: 5px;
            }

            .tile-description {
                margin-bottom: 10px;
            }

            span {
                display: block;
            }

            :not(.tile-link) {
                color: $text-color;
            }

            .tile-link {
                color: $link-color;

                &:hover, &:focus {
                    text-decoration: underline;
                }
            }
        }
    }

    &.section-quote_banner_slides {
        padding: 0;
    }

    &.section-client_logos {
        padding: 0;
        text-align: center;

        li {
            padding: 9px 30px;
        }

        .logo-grid {
            padding-top: 32px;
            padding-bottom: 32px;

            .item {
                padding: 27px 35px;
            }
        }

        &.resource-logo-bar {
            background: #0EC6E5;
        }

        body.home & {
            background: #d6d6d6;
        }
    }
    //Content Block Custom Styles
    &.resource_intro-block {
        border-bottom: solid 1px #dcdcdc;
    }

    &.section-video {
        padding: 140px 0;

        &.with-footer {
            padding-bottom: 240px;
        }

        .video-link {
            padding-top: 45px;

            a {
                color: #FFF;
                display: block;
                position: relative;
                padding-top: 60px;
                font-weight: 200;
                font-size: 16px;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                }

                &:before {
                    background: #FFF;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    margin-left: -25px;
                }

                &:after {
                    width: 0px;
                    height: 0px;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 12px solid $text-color;
                    margin-left: -4px;
                    top: 17px;
                }

                &:hover, &:focus {
                    &:before {
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    &.section-product_iphone_app_samples {
        background: $brand-grey-light;

        body.page-id-14693 & {
            @media (max-width: $screen-sm-min) {
                display: none;
            }
        }
    }

    &.section-client_quote_banner, &.section-device_feature, &.section-logo_tiles {
        padding-bottom: 0;
        padding-top: 0;
    }

    &.section-device_feature {
        h2 {
            font-size: 26px;
            margin-top: 0;
        }

        .device-align-left-middle, .device-align-right-middle, .device-align-top, .device-align-bottom {
            padding: 70px 0;
        }

        .device-align-bottom-container {
            padding: 70px 0 0 0;
        }

        .device-align-left-edge, .device-align-right-edge, .device-align-left, .device-align-right {
            padding-left: 0;
            padding-right: 0;
        }

        .device-align-left, .device-align-right {
            padding-top: 50px;

            &.container-fluid {
                max-width: $screen-md;
            }
        }

        .device-align-left-edge, .device-align-right-edge {
            &.container, &.container-fluid.constrain {
                max-width: 99999px !important;
                width: 100% !important;
            }

            .device-image {
                padding: 0;
            }
            //padding-top: 70px;
        }

        .device-content {
            .btn {
                margin-top: 10px;
            }

            .inner {
                padding: 0 40px;
                max-width: 540px;
            }

            &.col-sm-8 .inner {
                max-width: 640px;
            }
        }

        .device-align-bottom-container, .device-align-bottom {
            .device-image {
                padding-top: 50px;
                text-align: center;
            }

            .device-content .inner {
                max-width: 1440px;
            }
        }

        .device-align-top {
            .device-image {
                padding-bottom: 50px;
                text-align: center;
            }

            .device-content .inner {
                max-width: 1440px;
            }
        }

        .device-image {
            text-align: center;
            margin-top: 40px;

            .device-overlay {
                position: absolute;
            }

            img.device {
                max-width: 90%;
            }

            .left-align, .left-edge-align, .right-align, .right-edge-align {
                vertical-align: bottom;
            }
        }

        &.with-background {
            h2 {
                color: #FFF;
            }
        }

        .customers & {
            h2 {
                font-size: 26px;
                margin-top: 0;
            }

            .device-content {
                text-align: center;

                img.device {
                    margin-top: 15px;
                }
            }
        }

        .company & + .section-device_feature {
            background: $gray-lighter;
        }

        .platform & {
            border-top: solid 1px #DCDCDC;
        }
    }

    &.section-product_iphone_app_samples {
        body.platform & {
            position: relative;

            &:before {
                content: '';
                background: transparent url(../content/imgs/analytics-chart-divider.png) no-repeat left top;
                background-size: cover;
                height: 290px;
                width: 120%;
                position: absolute;
                top: -62px;
                left: 0;
                transform: rotate(-10deg);

                @media (min-width: 530px) {
                    top: -85px;
                }

                @media (min-width: 730px) {
                    top: -105px;
                }

                @media (min-width: 930px) {
                    top: -125px;
                }

                @media (min-width: 1130px) {
                    top: -145px;
                }

                @media (min-width: 1330px) {
                    top: -165px;
                }

                @media (min-width: 1530px) {
                    top: -185px;
                    height: 590px;
                }

                @media (min-width: 1730px) {
                    top: -205px;
                }

                @media (min-width: 1930px) {
                    top: -225px;
                }

                @media (min-width: 2130px) {
                    top: -245px;
                }

                @media (min-width: 2330px) {
                    top: -265px;
                }

                @media (min-width: 2530px) {
                    top: -285px;
                }
            }
        }
    }

    body.platform & {
        #one-platform-for-all-your-meetings-and-events.section-intro h3 {
            margin-top: 80px;
        }

        &:nth-last-child(3) .device-align-right-middle {
            padding-bottom: 0;
        }
    }

    body.sitemap & {
        &.section-intro {
            .sitemap-title {
                border-bottom: solid 1px #dcdcdc;
                display: block;
                font-size: 21px;
                font-weight: 700;
                line-height: 1;
                padding: 0 0 10px 0;
                margin-bottom: 24px;

                &:hover, &:focus {
                    text-decoration: none;
                }
            }

            ul {
                margin-bottom: 25px;

                .children {
                    padding-left: 25px;
                    margin-bottom: 0;
                }

                &.large-list li {
                    font-size: 21px;
                    padding-bottom: 22px;
                }
            }

            a {
                color: $text-color;
            }
        }
    }

    &.section-product_features_wparallax {
        //background: #242a2d url(../images/product-parallax-bg.png) repeat center center;
        color: #FFF;
        padding: 40px 0;
        background-color: #72eedd;
        transition: background-color 0.7s ease;

        .section-title {
            margin-bottom: 0;
        }

        h4 {
            color: #FFF;
            font-size: 38px;
            font-weight: 400;
            line-height: 1.4;
        }

        .title-tag {
            font-size: 12px;
            font-weight: 600;
            color: #FFF;
            margin-bottom: 0;
            line-height: 1;
            text-transform: uppercase;
        }

        .media {
            padding-bottom: 20px;
        }

        .media-left {
            display: block;
            margin-bottom: 10px;
        }

        .scroll-down {
            background: #FFF;
            box-shadow: 2.1px 3.4px 11.2px 3.8px rgba(0, 0, 0, 0.12);
            color: $brand-primary;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            display: block;
            display: none;
            position: fixed;
            right: 15px;
            bottom: 15px;
            text-align: center;
            font-size: 40px;
            line-height: 60px;
            opacity: 0;
            transition: opacity 0.1s ease-out;
            text-shadow: 1px 0px 0px $brand-primary, 2px 0px 0px $brand-primary;

            &.active {
                opacity: 1;
                animation: shadowPulse 3.2s infinite;
            }
        }

        body.promote & {
            #ptab0 {
                width: 62px;
            }

            #ptab1 {
                width: 68px;
            }

            #ptab6 {
                width: 89px;
            }
        }

        @media (min-width: $screen-sm-min) {
            .media {
                padding-top: 90px;
            }
        }
    }

    &.section-media_list {
        background: $gray-lighter;

        .section-intro {
            margin-bottom: 80px;
        }

        .media {
            margin-bottom: 40px;
        }

        .media-body {
            display: block;
            margin-top: 10px;
            max-width: 100%;
        }

        .media-heading {
            font-size: 18px;
            font-weight: 600;
            padding: 12px 0 7px 0;
        }

        .media-object {
            margin-right: 40px;
        }
    }

    &.section-product_multi-event_iphone_samples {
    }

    &.section-client_quote_banner {
        .quote-wrap {
            padding-bottom: 30px;
            padding-top: 50px;

            &:not(.with-device) {
                padding-bottom: 70px;
                padding-top: 70px;
            }
        }

        .quote-device {
            padding-top: 20px;
        }
    }

    &.section-product_feature_carousel {
        background: $brand-primary;

        h2, & {
            color: #FFF;
        }

        p {
            margin-bottom: 20px;
        }

        .flickity-prev-next-button path {
            fill: #FFF;
        }

        .carousel-cell {
            color: $headings-color;
            text-align: center;
            padding: 0;
            width: 100%;

            h5 {
                font-weight: 600;
                color: $brand-purple;
                margin-bottom: 16px;
            }
        }
    }

    &.section-cta_bar {
        background: $brand-primary;
        color: #FFF;
        padding-top: 30px;
        padding-bottom: 30px;

        .cta-wrap {
            text-align: center;

            div {
                display: inline-block;
                padding: 10px 15px;
            }

            &.with-description {
                text-align: left;

                div {
                    padding-left: 0;
                }
            }

            &.cta-bottom div {
                display: block;
            }

            p {
                font-size: 21px;
                margin-bottom: 15px;
            }

            .cta-label {
                font-size: 26px;
                font-weight: 300;
                line-height: 1.2;
                vertical-align: sub;
                margin-bottom: 15px;
                text-shadow: 2.1px 3.4px 6.2px rgba(0,0,0,.50);
            }

            .btn {
                margin: 0 25px;
            }
        }
    }

    &.section-product_highlights_wimac_screen {
        background: $brand-primary;
        padding-bottom: 0;

        .section-intro {
            margin-bottom: 50px;
        }

        h2, h3, & {
            color: #FFF;
        }

        h2 {
            font-weight: 100;
            font-size: 48px;
        }

        .device-content {
            .inner {
                max-width: 340px;
                margin: 32px auto;

                h5 {
                    font-size: 18px;
                    font-weight: 600;
                    display: block;
                    line-height: 1;
                    margin-bottom: 15px;
                }

                img {
                    margin-right: 20px;
                    vertical-align: bottom;
                }

                p {
                    display: block;
                }

                .highlight {
                    margin-bottom: 40px;
                }
            }
        }

        .device-image {
            overflow: hidden;
            padding-right: 0;

            .device-screenshot {
                float: right;
            }
        }
    }

    &.section-product_highlight_tabs {
        background: $brand-primary;

        h2, h3, & {
            color: #FFF;
        }

        h2 {
            font-weight: 100;
            font-size: 48px;
        }

        h3 {
            margin-top: 38px;
        }

        body.promote & {
            background: #FFF;

            h2, h3, & {
                color: $text-color;
            }
        }
    }

    &.section-product_screenshot_icon_callouts, &.section-product_highlight_tabs, &.section-product_features_wparallax {
        @media (max-width: $screen-sm-min) {
            .scrollmagic-pin-spacer {
                padding-bottom: 0 !important;
            }
        }
    }

    &.section-quote_banner {
        padding: 0;

        .quote-wrap {
            padding-top: 90px;
            padding-bottom: 90px;

            &.with-author {
                padding-left: 210px;
            }
        }

        .quote-author-photo {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }

    &.section-quote_photo_tiles {
        padding: 0 0 10px 0;
    }

    &.section-product_screenshot_icon_callouts {
        .section-intro {
            padding-bottom: 50px;
        }

        img {
            width: 760px;
            max-width: 9999px;
        }
    }

    body.single-post & {
        padding: 40px 0;
    }

    body.tour & {
        &.section-image_features {
            .cols-5-container {
                max-width: 1220px;
                width: 100%;
            }

            @media (min-width: $screen-sm-min) {
                .item {
                    width: 19%;
                }
            }
        }
    }

    body.single-qm-case-study & {
        &.section-image_highlights {
            background: $brand-blue-dark;
            color: #FFF;
            padding-bottom: 40px;

            p {
                font-weight: 400;
                line-height: 1.35;
            }
        }

        &.section-text_content {
            padding: 35px 0;
        }

        &.section-customer_quote {
            margin: 20px 0;
        }

        p {
            margin-bottom: 35px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.case-study-highlights {
            padding: 45px 0 55px 0;
            margin-top: 60px;

            .section-title {
                margin-bottom: 15px;
            }
        }

        &.section-results_checkmarks {
            padding: 15px 0;

            ul {
                border-top: solid 1px #DCDCDC;
                border-bottom: solid 1px #DCDCDC;
            }
        }
    }

    body.page-template-template-contact & {
        &.section-intro {
            padding-bottom: 22px;

            .container {
                max-width: 720px;
            }
        }

        .office-location {
            margin-bottom: 30px;
        }

        .phone-numbers {
            margin-bottom: 30px;

            p {
                margin-top: 20px;
            }
        }

        .contact-partners .office-location:nth-child(2) {
            float: right;
        }

        .partner-region, .contact-partner {
            line-height: 1.4;
            margin-bottom: 10px;
        }
    }

    body.page-template-template-contact & {
        &.section-intro {
            padding-bottom: 22px;

            .container {
                max-width: 720px;
            }
        }
    }

    body.company & {
        &.section-intro.with-background {
            padding-top: 230px;
            padding-bottom: 230px;
        }
    }

    body.careers & {
        &.block-1 .section-intro {
            p {
                font-size: 16px;
                font-weight: 400;
            }

            h3.job-title {
                margin-top: 90px;
            }
        }
    }

    .section-footer-cta .btn {
        margin: 0 5px;
    }
}

.intro-form {
    padding-top: 42px;
    padding-bottom: 27px;
}

.case-study-intro {
    border-bottom: solid 1px #DCDCDC;

    .intro-content {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .btn {
        margin-bottom: -24px;
    }
}

body.thanks-for-downloading {
    .intro {
        h3 {
            margin-top: 0;
        }
    }
}

@media (min-width: $screen-sm-min) {
    section.content-section {
        &.section-product_feature_carousel .carousel-cell {
            padding: 0 90px;
        }

        &.section-device_feature {
            .device-image {
                text-align: left;
                margin-top: 0;

                &.left-align {
                    text-align: right;
                }

                &.left-edge-align, &.left-middle-align {
                    img.device {
                        margin-left: -20%;
                        width: 110%;
                        max-width: 110%;
                    }
                }

                &.right-align {
                    text-align: left;
                }

                &.right-edge-align, &.right-middle-align {
                    text-align: right;

                    img.device {
                        margin-right: -20%;
                        width: 110%;
                        max-width: 110%;
                    }
                }

                &.right-align, &.left-align {
                    max-width: $screen-lg;
                }
            }

            .custom-width .device-image {
                &.left-edge-align, &.left-middle-align {
                    img.device {
                        margin-left: 0;
                        width: 100%;
                    }
                }

                &.right-edge-align, &.right-middle-align {
                    img.device {
                        margin-right: 0;
                        width: 100%;
                    }
                }
            }
        }

        &.section-media_list {
            .media-body {
                display: table-cell;
                margin-top: 0;
            }
        }
    }

    .pad-content {
        padding: 20px 60px;

        &.no-top-pad {
            padding-top: 0;
        }
    }
}

@media(max-width: $screen-sm-min) {
    .section-client_logos {
        display: none;
    }
}

@media (min-width: $screen-md-min) {
    section.content-section {
        &.section-client_quote_banner {
            .quote-wrap {
                padding-top: 100px;
            }
        }
    }

    section.content-section {
        &.section-product_highlights_wimac_screen {
            .device-image {
                .device-screenshot {
                    right: -150px;
                }
            }
        }
    }
}

@media (min-width: $screen-lg-min) {
    section.content-section {
        &.section-product_highlights_wimac_screen {
            .device-content {
                .inner {
                    float: right;
                }
            }

            .device-image {
                .device-screenshot {
                    right: -20px;
                }
            }
        }

        &.section-device_feature {
            .device-image {
                &.left-edge-align, &.left-middle-align {
                    img.device {
                        margin-left: 0;
                        width: 100%;
                        max-width: 100%;
                    }
                }

                &.right-edge-align, &.right-middle-align {
                    img.device {
                        margin-right: 0;
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
