@mixin font_prop($size, $line_height) {
    font-size: $size;
    line-height: $line_height;
}

.post-password-form {
    padding-top: 30px;
}

#nav-section {
    text-align: center; vertical-align: top;

    span { display: inline-block; margin: 10px 10px; vertical-align: top; }
}

.sp-icon { display: inline-block; }
#partner-portal-page {
        img { height: auto; }
}

#partner-portal-page {
    //.box-gradient-basic(#fff, #f2f2f2, #fff);

    .photo-tiles .photo-tile { margin-bottom: 10px; text-align: left; }

    .embed-responsive { margin-bottom: 60px; }
    #banner {
        text-align: center;
        background-color: #0e89ca;
        box-shadow: inset 0 10px 10px -5px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid #4799cb;
        margin-bottom: 30px;
        padding-bottom: 20px;

        h2 {
            color: #fff;
        }

        h2 {
            margin: 20px 0 0 0;
            @include font_prop(34px, 43px);
        }
    }

    #nav-section {
        margin-bottom: 20px;

        h4 {
            color: #666;
            @include font_prop(16px, 20px);
        }

        ul {
            text-align: justify;

            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }

            li {
                display: inline-block;

                a {
                    height: 20px;
                    color: #0e89ca;
                    @include font_prop(16px, 20px);

                    .sp-icon {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    #solution {
        display: none;
    }

    .portal-section {
        margin-bottom: 40px;

        .content-container {
            background-color: #fff;
            padding: 20px;
            box-shadow: 1px, 1px, 2px, 2px, rgba(0, 0, 0, 0.1);

            .content-header {
                padding-bottom: 13px;
                border-bottom: 2px solid #666;
                margin-bottom: 20px;

                .sp-icon {
                    margin-right: 15px;
                    vertical-align: middle;
                }

                h4 {
                    display: inline-block;
                    color: #666;
                    @include font_prop(24px, 40px);
                }
            }

            .item {
                text-align: center;
                margin-bottom: 35px;

                .sp-icon {
                    cursor: default;
                }

                .sp-icon,
                p {
                    margin: 0 0 18px 0;
                }

                p,
                a {
                    display: block;
                }
            }

            .demo-content {
                padding-top: 35px;

                .demo-app-img {
                    width: 275px;
                    height: 351px;
                }

                .demo-app-text {
                    h4 {
                        color: #0d89ca;
                        margin: 0 0 20px 0;
                        @include font_prop(21px, 25px);
                    }

                    p {
                        color: #666;
                        @include font_prop(18px, 22px);

                        &.note {
                            font-weight: bold;
                            font-style: italic;
                            @include font_prop(14px, 18px);
                        }
                    }

                    ul {
                        list-style: disc;
                        margin: 30px 0 0 0;
                        padding-left: 0;
                        color: #666;

                        li { padding-bottom: 20px; }
                    }
                }
            }

            .solution-content {
                .content-title {
                    margin: 20px 0;
                    padding-bottom: 10px;
                    min-width: 200px;
                    // width: 40%;
                    // border-bottom: 1px dashed #e0e0e0;
                }

                .solution-footer {
                    border-top: 1px dashed #e0e0e0;
                    padding: 15px 0;

                    p {
                        color: #282828;
                        @include font_prop(14px, 18px);
                    }
                }
            }

            .quote-content {
                h4 {
                    color: #0d89ca;
                    margin: 35px 0 20px 0;
                    @include font_prop(21px, 25px);
                }

                p {
                    color: #666;
                    @include font_prop(18px, 22px);
                }
            }
        }
    }

    #process .item {
        margin-top: 20px;
    }

    #webcasts .content .row {
        margin-top: 30px;
    }

    .accordion {
        .item {
            padding: 22px 20px;
            border: 1px solid #e1e1e1;
            border-bottom: none;
            overflow: hidden;
            margin: 0;

            .sp-icon-plus {
                display: inline-block;
            }

            .sp-icon-minus {
                display: none;
            }

            .title {
                @include font_prop(16px, 1.2);
                font-weight: 300;
            }

            .content {
                cursor: default;

                .content-title {
                    margin: 30px 0;
                    padding-bottom: 10px;
                    min-width: 200px;

                    &.underline {
                        border-bottom: 1px dashed #e0e0e0;
                    }
                }

                .best-practices,
                .videos,
                .webinars,
                .appstract {
                    padding-bottom: 30px;

                    &:first-child {
                        padding-top: 30px;
                    }
                }

                .screenshot-library {
                    margin-top: 30px;
                }

                .item {
                    text-align: center;
                    margin-bottom: 35px;

                    .sp-icon {
                        cursor: default;
                    }

                    .sp-icon,
                    p {
                        margin: 0 0 18px 0;
                    }

                    p,
                    a {
                        display: block;
                    }
                }

                .bp-item,
                .video-item,
                .webinar-item,
                .appstract-item {
                    margin: 5px;
                    overflow: hidden;
                    box-shadow: 1px, 1px, 2px, 2px, rgba(0, 0, 0, 0.2);

                    img {
                        display: inline-block;
                    }
                }

                .item-content {
                    overflow: hidden;
                    padding: 10px 0;

                    .title {
                        float: none;

                        p {
                            margin: 0;
                        }
                    }

                    .resource-link {
                        display: block;
                        margin-bottom: 5px;
                    }
                }

                &.process {
                    .training {
                        margin-top: 10px;

                        h5 {
                            margin: 10px 0 5px 0;
                            @include font_prop(16px, 20px);
                        }

                        p {
                            margin: 0 0 10px 0;
                        }

                        .sp-icon-arrow {
                            vertical-align: middle;
                            margin-right: 8px;
                        }
                    }

                    .content-title {
                        h4 {
                            color: #666;
                            font-weight: bold;
                            @include font_prop(24px, 31px);

                            .sp-icon {
                                margin-left: 10px;
                                vertical-align: middle;
                            }

                            &.same-line {
                                display: inline-block;
                                margin: 0 0 -2px 15px;
                                font-weight: 300;
                                vertical-align: bottom;
                            }
                        }
                    }

                    .process-footer {
                        border-top: 1px dashed #e0e0e0;
                        padding-top: 20px;
                        margin: 0 auto;

                        p {
                            color: #282828;
                            margin-top: 0;
                            @include font_prop(13px, 17px);
                        }
                    }
                }
            }

            & > .sp-icon {
                float: right;
            }

            &.opened {
                border-top: 3px solid #0e89ca;

                .sp-icon-plus {
                    display: none;
                }

                .sp-icon-minus {
                    display: inline-block;
                }

                .title {
                    color: #0e89ca;
                }

                .content {
                    border-top: 1px dashed #e0e0e0;
                }
            }

            &:last-child {
                border-bottom: 1px solid #e1e1e1;
            }
        }
    }
}

/* Media queries */

@media (min-width: 768px) {
    #partner-portal-page {
        .nav-menu {
            width: 80%;
        }
    }
}

