body.single-anniversary {
    padding: 15px;

    @media (min-width: $screen-sm-min) {
        padding: 50px;
    }
}

.page-link {
    font-size: 15px;
}

.entry-title { margin-top: 0; margin-bottom: 12px; }

.entry-content {
    padding-bottom: 34px;

    p { margin: 12px 0; }
    ul { margin-bottom: 12px; }
    li { margin-bottom: 5px; }
}

.pager a { color: $text-color; font-size: 15px; }

.post {
    .post-title {
        .post-category {
            color: #FF5425;
        }

        h1 { margin: 0; }
        h2.sub-title { font-size: 26px; font-weight: 300; margin-top: 10px; }
    }

    .post-meta {
        border-bottom: solid 1px #c8c8c8; margin-top: 25px; margin-bottom: 15px; padding-bottom: 25px; max-width: 460px;
        img { border-radius: 50%; margin-right: 10px; }
        a { color: $brand-info; font-weight: 500; }

        [class^="icon-"], [class*=" icon-"] {
            line-height: 1; font-size: 20px; margin-right: 8px;

            &:before { vertical-align: middle; }
        }

        .author {
            margin-bottom: 15px;

            &:last-child { margin-bottom: 0; }
        }
    }

    .featured-resource {
        margin: 45px 0 0 0; padding: 25px 12px 25px 25px;

        img { height: auto; }
        p { margin-bottom: 32px; margin-top: 0; font-weight: 300; line-height: 1.4; }
    }

    .post-author-bios {
        border-top: solid 1px #dcdcdc; border-bottom: solid 1px #dcdcdc; margin-top: 60px; margin-bottom: 30px; padding-top: 32px; padding-bottom: 32px; position: relative; overflow: visible; line-height: 1.5;

        &:before { color: #a0a0a0; content: 'Written by'; background: #FFF; padding: 0 24px 0 0; position: absolute; top: -11px; left: 0; font-size: 13px; }
        a { color: $brand-info; }

        .author {
            margin-bottom: 20px;

            &:last-child { margin-bottom: 0; }
        }

        .media-heading { font-size: 18px; font-weight: 500; margin-bottom: 5px; }
        img {
            border-radius: 50%; margin-right: 10px;

            @media (max-width: 420px) {
                max-width: 84px;
            }
        }

        .social-profiles {
            font-size: 20px; padding-top: 10px;

            a {
                margin-right: 10px;

                &:hover { opacity: 0.9; }
            }
        }
    }
}

#blog-subscribe-bar {
    background: $brand-primary; color: #FFF; position: fixed; bottom: -1px; left: 0; width: 100%; z-index: 999; line-height: 1.5; padding: 5px 0; font-size: 16px; font-weight: 700;

    &.stick { position: relative; }
    .container-fluid { max-width: 1200px; }
    .form-inline { line-height: 1px; padding: 9px 0; }
    .alert { display: inline-block; padding: 6px 10px; line-height: 1; margin: 10px 0 0 0; }
    .subscribe-label { line-height: 1.3; padding-top: 6px; position: relative; padding-bottom: 5px; }
    .inline-marketo-form .mktoForm {
        text-align: right;

        input[type=email] { border: solid 1px #FFF; }
        .mktoButtonRow .mktoButtonWrap .mktoButton {
            background: $brand-warning!important; border: 1px solid $brand-warning!important; color: $brand-primary!important; float: right; top: 0; position: relative; padding: 8px 20px 9px; border-radius: 3px;

            &:hover { background: darken($brand-warning, 5%)!important; }
        }
    }
}

.blog-section-title {
    border-top: solid 1px #666; padding: 16px; line-height: 1; margin-top: 24px!important;

    &.title-sm { padding: 4px 7px; }
}

.category-buttons {
    .btn {
        margin-right: 10px; text-transform: none; padding: 9px 12px; font-weight: 400; margin-top: 2px; margin-bottom: 3px;

        &:last-child { margin-right: 0; }

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }
    }
}

.sticky-footer {
    &:not(.stick) {
        .section-nav {
            box-shadow: 0 -1px 1px 0 rgba(40,40,40,.2); position: fixed; bottom: 0; left: 0; width: 100%;
        }
    }
}

.sidebar-post-list {
    margin-bottom: 50px;

    a.item {
        color: $text-color; border-left: solid 8px $brand-primary; display: block; padding: 5px 0 5px 22px; margin: 15px 0 20px 0; line-height: 1.3; font-weight: 300;


        &.featured-category-846 { border-left-color: $category-846; }
        &.featured-category-836 { border-left-color: $category-836; }
        &.featured-category-848 { border-left-color: $category-848; }
        &.featured-category-845 { border-left-color: $category-845; }
    }
}

@media (max-width: $screen-sm-min) {
    #blog-subscribe-bar {
        .inline-marketo-form .mktoForm {
            padding: 0;
        }
    }

    .sticky-footer {
        &:not(.stick) {
            .section-nav {
                .articles { display: none; }
                .media-contact div { display: inline-block; }
            }
        }
    }
}

@media (min-width: 400px) {
    #blog-subscribe-bar {
        font-size: 18px; font-weight: 400;
    }
}
@media (min-width: 580px) {
    #blog-subscribe-bar {
        font-size: 24px;
    }
}

@media (min-width: $screen-sm-min) {
    #blog-subscribe-bar {
        .subscribe-label {
             line-height: 1.5; padding-top: 6px;

            &:before { content: ''; background: transparent url(../images/blog-subscribe-icon.png) no-repeat 0 0; background-size: cover; height: 55px; width: 55px; display: block; position: absolute; left: -42px; top: -41px; }
        }
    }
}
