.press-meta {
    border-top: solid 1px #dcdcdc; border-bottom: solid 1px #dcdcdc; margin-bottom: 30px; padding-top: 5px; padding-bottom: 5px;

    &.last {
        font-size: 15px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 10px;

        strong { font-weight: 500; }
        p { margin-bottom: 7px; }
    }
}

.entry-date { color: $brand-info; font-size: 13px; }
