body.page-template-template-demo-form-quote-carousel {
    .slideshow-wrap { padding: 0; }
    .content-outer { position: relative; }

    .slideshow {
        &, .flickity-slider, .flickity-viewport { min-height: 100vh; }

        .carousel-cell .caption-content {
            color: #FFF; padding-left: 46px; background: transparent;

            .quote {
                font-weight: 200; font-size: 20px; position: relative; margin-bottom: 35px;

                .quote-mark { width: 37px; height: 29px; position: absolute; top: -11px; left: -46px; }
            }

            .author { margin-bottom: 35px; }
        }

        .flickity-page-dots {
            bottom: 15px; text-align: right; padding-right: 15px;

            .dot {
                background: rgba(255,255,255,0.7);

                &.is-selected { background: #FFF; }
            }
        }
    }

    .content-wrap {
        padding: 30px;

        h1 { margin-top: 0; }
    }

    .content-wrap {
        .mktoForm {
            .mktoButtonRow .mktoButtonWrap .mktoButton {
                @extend .btn-gradient;

                box-shadow: 2.1px 3.4px 7.2px 1.8px rgba(0, 0, 0, 0.38);
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        height: 100%; overflow: hidden;

        .slideshow .carousel-cell .caption-content { padding: 120px 66px 30px 66px; }
        .wrap, .content, main, .container-fluid, .row, .content-outer { height: 100%; }
        .content-wrap {
            position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow-y: scroll; padding: 70px 80px;

            .lead { font-size: 22px; }

            .mktoForm {
                &.form-top-labels .mktoLabel { font-weight: 400; margin-bottom: 4px; padding-top: 0; }
                .mktoButtonRow, .mktoFormRow { margin-left: -10px; margin-right: -10px; }
            }
        }
    }
}

body.page-id-14693 {
    section.content-section {
        &.section-intro.block-2 {
            h3 { margin-top: 0; }
        }

        &.section-client_logos {
            background: $brand-warning;

            li { padding: 15px; }
        }

        &.section-device_feature h2 { font-size: 34px; }
    }

    header.global-header {
        .btn {
            background: $brand-warning!important; border-color: $brand-warning!important;

            &:hover { color: $brand-purple; }
        }

        @media (min-width: $screen-sm-min) {
            .jumbotron {
                .h1, h1 { font-size: 48px; }
                p { font-size: 28px; }
            }
        }
    }
}

body.request-a-demo, body.page-id-14693 {
    header.global-header {
        .btn {
            background: $brand-warning!important; border-color: $brand-warning!important;

            &:hover { color: $brand-purple; }
        }
    }

    section.content-section {
        &.section-client_logos {
            background: $brand-warning;

            li { padding: 15px; }
        }
    }
}
