.services-onboarding {
    height: 650px; padding-top: 50px; text-align: center; display: table; margin: 0 auto;

    .step-wrap {
        display: table-cell; vertical-align: middle; position: relative; height: 140px; width: 188px;

        &:after { content: "\45"; color: #893dcc; display: block; font-size: 19px; font-family: quickmobile; font-style: normal; font-weight: 400; line-height: 1; position: absolute; right: 12px; top: 50%; margin-top: -9px; }

        &:last-child {
            width: 140px;

            &:after { display: none; }
        }
    }

    span { height: 140px; display: table-cell; vertical-align: middle; width: 100%; }

    .step {
        border-radius: 50%; font-weight: 700; padding: 0 18px; position: absolute; width: 140px; height: 140px; top: 0;

        &.major-step {
            border: solid 1px #c8c8c8;

            &:before {}
            &:last-child:before { display: none; }
        }

        &.minor-step {
            border: solid 1px $brand-purple; display: inline-block; position: relative; width: 140px; text-align: center; margin-right: 48px;

            &:before { content: ''; left: 50%; margin-left: -1px; position: absolute; top: -43px; height: 40px; width: 2px; background: $brand-purple; }

            span { width: 140px; }

            .hover-content {
                display: none; font-size: 14px; font-weight: 400; border: solid 1px $brand-purple; text-align: center; vertical-align: middle; height: 240px; width: 240px; border-radius: 50%; padding: 0 30px; position: absolute; left: -50px; top: 110px;

                span { height: 240px; width: 240px; }
            }

            &:hover, &.active {
                background: $brand-purple; color: #FFF;

                .hover-content { color: $text-color; display: block; }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .minor-steps {
        position: absolute; top: 222px; width: 720px; text-align: left;

        &:after { content: ''; left: 69px; position: absolute; top: -43px; height: 2px; width: 566px; background: $brand-purple; }
        &:before { content: ''; left: 69px; position: absolute; top: -80px; height: 40px; width: 2px; background: $brand-purple; }
    }

    .step-content {
        position: absolute; top: 170px; width: 140px; padding: 0 20px;

        &:before { content: ''; left: 50%; margin-left: -1px; position: absolute; top: -20px; height: 18px; width: 2px; background: $text-color; }
    }

    img { width: 100%; height: auto; }
}
