.page-template-template-slideshow {
    &, h1, h2, h3, h4, h5, h6, a { color: #FFF; }
}

.slideshow {
    .carousel-cell {
        display: table; min-height: 100vh; position: relative; padding: 80px 0 70px 0;

        .container-fluid { display: table-cell; vertical-align: middle; }

        .feature-image { display: none; position: absolute; }

        .caption { position: relative; }
        .caption-content {
            background: rgba(41,47,51, 0.9); padding: 28px 36px; font-size: 18px; line-height: 1.33;

            h2 { font-size: 40px; font-weight: 200; line-height: 1.1; margin: 0 0 22px 0; }
            ul { margin-bottom: -15px; }
            li { margin-bottom: 15px; }
            .btn { margin-top: 25px; }
        }

        &.content-left {
            .feature-image {
                right: 20px; top: 0; width: 0;

                img { float: left; height: 570px; max-width: 9999px; }
            }
        }

        &.content-right {
            .feature-image {
                left: -150px; top: 0; width: 0;

                img { float: right; height: 570px; max-width: 9999px; }
            }
        }

        &.content-bottom {
            .table-col-xs { vertical-align: bottom; }
            .container-fluid { vertical-align: bottom; padding-bottom: 20px; }
        }

        //Slide Number Styles
        .slide-num { color: $brand-primary; font-size: 400px; line-height: 1; letter-spacing: -30px; font-weight: 600; position: absolute; width: 0; top: 0; }

        &.num-left {
            .caption { padding-top: 90px; }
            .container-fluid { padding-left: 180px; }
            .slide-num {
                left: -10px; top: -90px;
                .inner { float: right; }
            }

            &#slide7 .slide-num { left: 30px; }
        }

        &.num-right {
            .caption { padding-top: 90px; }
            .slide-num {
                right: 30px; top: -90px;
                .inner { float: left; }
            }

            &#slide10 .slide-num { right: 70px; }
        }

        .feature-image { position: absolute; }
    }

    .carousel-cell.num-top, &:not(.flickity-enabled) .carousel-cell {
        .caption { padding-top: 260px; }
        .slide-num {
            left: -70px; top: -90px;
            .inner { float: left; }
        }
    }

    &:not(.flickity-enabled) .carousel-cell {
        .container-fluid { padding-left: 60px; }
        .caption-content {
            padding: 26px 20px 20px 20px;

            h2 { font-size: 32px; }

        }

        .caption { padding-top: 230px; }
        .slide-num { font-size: 360px; }
    }
}

.slideshow-header {
    position: absolute; top: 0; left: 0; width: 100%; z-index: 9; padding: 10px 0 0 0;

    img { margin: 10px 0; }
    h1 { color: #FFF; font-size: 32px; line-height: 1; margin: 0; }
}

.slideshow-footer {
    background: $brand-grey-darker; padding: 20px 0;

    .social-icons {
        font-size: 20px;

        .at-share-tbx-element .at-share-btn { margin: 0 5px!important; }
        .at-share-btn .at-icon-wrapper:before { color: #FFF; font-size: 20px; }
        .at-share-btn:hover { transform: none!important; }
        .at-svc-twitter:hover .at-icon-wrapper:before { color: #0077b5; }
        .at-svc-linkedin:hover .at-icon-wrapper:before { color: #55acee; }
        .at-svc-facebook:hover .at-icon-wrapper:before { color: #3b5998; }
        .at-svc-google_plusone_share:hover .at-icon-wrapper:before { color: #dc4e41; }
    }

    .btn {
        color: #FFF; padding: 0 5px; font-weight: 600;

        &.active { color: $brand-primary; }
    }
}

@media (max-height: 768px) {
    .slideshow {
        .carousel-cell {
            .caption-content {
                font-size: 16px; padding: 24px 30px;

                h2 { font-size: 34px; line-height: 1; margin-bottom: 15px; }
                li { margin-bottom: 12px; }
            }

            &.content-left, &.content-right {
                .feature-image { top: -40px; }
            }

            &.num-top {
                .caption { padding-top: 260px; }
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .slideshow {
        .carousel-cell {
            &.content-left {
                .caption { margin-left: 150px; }
            }

            &.content-right {
                .caption { margin-right: 150px; }
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .slideshow.flickity-enabled {
        &, .carousel-cell { height: 100vh; width: 100%; }
        .carousel-cell { overflow: hidden; }
    }

    .slideshow {
        .carousel-cell {
            .feature-image { display: inline-block; }
        }
    }

    .slideshow-header {
        padding: 35px 0;

        &.with-nav { padding-top: 0; }
        h1 { font-size: 36px; }
    }

    .slideshow-footer {
        background: transparent; bottom: 0; left: 0; position: fixed; width: 100%; z-index: 9;
    }
}

//Custom page styles
body.why-quickmobile {
    #slide7 { }
}
