.page-id-14728 {
    header.global-header .jumbotron {
        span { color: $brand-primary; }
        h1, .h1 { font-weight: 600; text-align: left; font-size: 39px; text-transform: uppercase; }
        p { text-align: left; font-size: 24px; text-transform: uppercase; }
    }

    section.content-section {
        h2, .section-title { text-transform: uppercase; font-weight: 600; color: $brand-purple!important; }
    }

    .block-3 img { margin-bottom: 10px; }
}

body.see-how {
    .photo-blocks .photo-block .photo svg { border: 0; padding: 0; }
}
