.content-section.section-breadcrumbs {
    margin-top: 30px; margin-bottom: 75px; padding: 0;

    body.page-child & { margin-bottom: 35px; padding-top: 10px; }
}

.breadcrumb-nav-wrap { height: 31px; display: inline-block; border-radius: 0 20px 20px 0; }

.breadcrumb-nav {
    list-style: none; line-height: 1; font-weight: 600; font-size: 14px;  text-transform: uppercase; overflow: hidden; margin: 0 -7px 0 0; padding: 0 15px 0 0; display: inline-block;

    li {
        float: left; margin: 0; padding: 0!important;

        a {
            color: $brand-primary; text-decoration: none; padding: 8px 16px 8px 34px; background-color: #FFF; position: relative; display: block; float: left; transition: none; border: solid 1px $brand-primary; border-right: 0;

            &:after {  content: " "; border: 0; display: block; width: 22px; height: 22px; border-top: solid 1px $brand-primary; border-left: solid 1px $brand-primary; position: absolute; top: 4px; right: -11px; transition: none; background: #FFF;  transform: rotate(135deg); z-index: 2; }

            //&:before { border-left: 30px solid $brand-primary; margin-left: 1px; z-index: 1; }

            &.current, &:hover { background: #27aecc; color: #fff; background-image: linear-gradient(to right, #29bddf 0%, #1189ca 76%, #1189ca 100%); }
            &.current, &:hover {
                &:after { background: #1189ca; }
            }
        }

        &:first-child a { padding-left: 20px; }
   }
}

@media (min-width: $screen-sm-min) {
    .breadcrumb-nav-wrap { box-shadow: 1px 4.4px 6.2px 0px rgba(48,65,73,0.26); }
}
