a, .btn { transition: ease-out all .2s; }

.btn {
    line-height: 1.1; text-transform: uppercase; box-shadow: 2.1px 3.4px 11.2px 2.5px rgba(0, 0, 0, 0.22);

    &.btn-sm { line-height: 1; padding: 7px 20px 10px 20px; }
}

.btn-dark {
    @include button-variant($text-color, #FFF, $text-color);

    &.btn-outline {
        background: transparent; color: $text-color;

        &:focus, &:hover { background: $text-color; color: #FFF; }
    }
}

.btn-white {
    @include button-variant($brand-primary, #FFF, #FFF);

    &.btn-outline {
        background: transparent; color: #FFF;

        &:focus, &:hover { background: #FFF; color: $brand-primary; opacity: 1; }
    }
}

.btn-gradient {
    background: #27aecc; color: #FFF; background: linear-gradient(135deg, #2bc2e1 0%,#1189ca 100%); border: 0; border-radius: 8px!important; transition: none;

    &:hover, &:focus { background: #1189ca; color: #FFF; }
}

.btn-outline {
    box-shadow: 2.1px 3.4px 11.2px 3.8px rgba(0, 0, 0, 0.12);
    background-color: transparent;
    color: inherit;
    border-width: 1px;
}


.btn-primary.btn-outline {
    color: $brand-primary!important;

    &:focus, &:hover { background: $brand-primary!important; border-color: $brand-primary!important; color: #FFF!important; }
}

.btn-success.btn-outline {
    color: $brand-success;
}

.btn-info.btn-outline {
    color: $brand-info;
}

.btn-warning.btn-outline {
    color: $brand-warning;
}

.btn-danger.btn-outline {
    color: $brand-danger;
}

.btn-default.btn-outline {
    color: $brand-default;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover,
.btn-default.btn-outline:hover {
    color: #fff;
}

.floating-cta {
    background: darken($headings-color, 5%); bottom: -50px; left: 0; opacity: 0; position: fixed; transition: bottom 0.4s ease-out, opacity 0.4s ease-out; width: 100%; white-space: nowrap; z-index: 9999; padding: 5px; text-align: left;

    .heading { text-transform: uppercase; font-size: 24px; font-weight: 200; line-height: 1.5; }
    .btn { border-radius: $btn-border-radius-base $btn-border-radius-base 0 0; margin: 0 5px!important; padding: 8px 18px; }

    &.show { bottom: 0; opacity: 1; }
}
