.device-screenshot {
    position: relative;

    img { position: absolute; }

    &.device-imac {
        background: transparent url(../content/imgs/imac-full-bg.png) no-repeat center center; height: 585px; width: 620px;

        img { height: 315px; width: 567px; top: 27px; left: 27px; }
    }

    &.device-imac-right {
        background: transparent url(../content/imgs/imac-bg.png) no-repeat center center; height: 793px; width: 709px;

        img { height: 429px; width: 672px; top: 34px; left: 37px; }
    }

    &.device-tablet {
        background: transparent url(../content/imgs/ipad-bg.png) no-repeat top right; height: 530px; width: 742px;

        img { height: 418px; width: 558px; top: 31px; left: 89px; }
    }

    &.device-phone {
        background: transparent url(../content/imgs/iphone-bg.png) no-repeat top right; height: 428px; width: 244px;

        img { height: 295px; width: 165px; top: 47px; left: 36px; }
    }

    &.device-tablet-hands {
        background: transparent url(../content/imgs/ipad-hands-bg.png) no-repeat top right; background-size: cover; height: 325px; width: 579px; margin-top: 50px; display: inline-block;

        img { height: 253px; width: 338px; top: 15px; left: 121px; }
    }

    &.device-monitor {
        background: transparent url(../content/imgs/samsung-monitor-bg.png) no-repeat top right; height: 479px; width: 698px;

        img { height: 388px; width: 683px; top: 5px; left: 7px; }
    }
}

.device-video {
    display: inline-block;

    &.ipad {
        background: transparent url(../content/imgs/ipad-video-bg.png) no-repeat top right; height: 518px; width: 378px; background-size: 100% 100%; padding: 44px 41px;

        video { width: 296px; height: 394px; }

        @media (max-width: 420px) {
            height: 396px; width: 290px; padding: 33px 24px;

            video { width: 242px; height: 302px; }
        }
    }
}

.device-mobile-stacked {
    position: relative; padding: 0 60px 40px 0; height: 570px;

    .device-screenshot { position: absolute; }
    .device-tablet { right: 70px; }
    .device-phone { bottom: 0; right: 0; }
}

.device-captions {
    &.icon-pointer {
        .device-caption {
            .inner {
                background: #FFFFFF;
                padding: 25px !important;
                position: relative;
                margin-bottom: 20px;

                &, h5, a {
                    color: #FFF;
                    margin-top: 0;
                }

                h4 {
                    color: #00b3ca;
                    font-size: 38px;
                    font-weight: 400;
                    line-height: 1.4;
                    margin-top: 0;
                    margin-bottom: 12.5px;
                }
                /*&:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 0 10px;
                    border-color: $brand-purple transparent transparent transparent;
                    bottom: -10px;
                    left: 14px;
                    position: absolute;
                }*/
                p {
                    color: #505050;
                }
            }

            img {
                margin-bottom: -60px;
            }

            .btn {
                margin-top: 30px;
            }

            @media (max-width: $screen-sm-min) {
                margin-top: 0 !important;
            }
        }

        .screenshot-link {
            display: none;
            margin-top: 0px;
            display: block;
            background: transparent;
            position: absolute;
            right: -62px;
            z-index: 9;
            border-radius: 50%;
            height: 48px;
            top: 0;
            width: 48px;
        }
    }

    h5 {
        margin-bottom: 12px;
    }

    ul.arrow-list {
        margin: 0 0 15px 0;

        li {
            display: block;
            width: 100%;
            float: none;
            padding-bottom: 8px;
        }
    }
}

.screenshot-scroller {
    .device-screenshot {
        img {
            transition: opacity 0.4s ease-out;

            &.active { opacity: 1; }
        }
    }

    .device-captions {
        padding-top: 60px;

        .device-caption {
            transition: all 0.4s ease-out; padding-bottom: 80px;

            &.active { visibility: visible; opacity: 1; }
            .device-screenshot { margin-top: 40px; }
            .device-imac { margin-bottom: -40px; }
        }
    }
}

.slide-device-intro {
    position: relative; display: inline-block; width: 100%; text-align: center;

    body.platform & { margin-bottom: 20px; }
    .main-device {
        margin: 0;

        &.static-image { margin-top: -34vh; }
    }

    .secondary-device {
        position: absolute; left: 0; bottom: 0; opacity: 0; transition: opacity 0.3s ease-out; width: 100%; text-align: center;

        &.active { opacity: 1; }
    }
}

.iphone-sampler {
    .initial-samples {
        margin-top: 20px; position: relative; text-align: center;

        &:after { content: ''; background: transparent url(../content/imgs/iphone-sample-divider-vertical.png) no-repeat center top; background-size: 100% auto; display: block; margin: 0 auto; opacity: 0; max-width: 330px; height: 116px; position: relative; top: -10px;             transition: all 0.3s ease-out; }
    }

    .sample-iphones {
        left: 0; position: relative; margin: 20px auto; max-width: 310px; width: 100%;

        img {
            opacity: 0; transition: all 0.3s ease-out;

            &:first-child { position: relative; z-index: 3; }
            &:nth-child(2) { left: 0; position: absolute; top: 0; z-index: 2; }
            &:nth-child(3) { left: 0; position: absolute; top: 0; z-index: 1; }
        }
    }

    &.active {
        .initial-samples {
            &:after { opacity: 1; }
        }

        .sample-iphones {
            img {
                opacity: 1;

                &:nth-child(2) { left: 20%; }
                &:nth-child(3) { left: 40%; }
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    //We have scrollmagic activated on larger screens so we'll hide the captions and let them auto-appear.
    .screenshot-scroller {
        .device-screenshot {
            img {
                opacity: 0;
            }
        }

        .device-captions {
            &.arrow {
                background: $brand-grey-dark; top: 80px; height: 220px; width: 360px; position: relative;

                &:before { content: ''; position: absolute; width: 0; height: 0; border-style: solid; border-width: 110px 20px 110px 0; border-color: transparent $brand-grey-dark transparent transparent; top: 0; left: -20px; }

                .device-caption { display: table; padding: 40px!important; height: 100%; }
                .inner { display: table-cell; vertical-align: middle; }
            }

            &.icon-pointer {
                .device-caption .inner {
                    padding: 25px!important; margin-bottom: 0;

                    &:after { border-width: 10px 0 10px 10px; border-color: transparent transparent transparent $brand-purple; bottom: auto; left: auto; right: -10px; top: 15px; }
                }
            }

            padding-top: 0;

            .device-caption {
                visibility: hidden; opacity: 0; position: absolute; padding-bottom: 0;
            }

            .screenshot-link { display: block; }
        }

        .device-screenshot.device-imac {
            float: right;
        }
    }

    .device-screenshot {
        &.device-tablet-hands {
            height: 438px; width: 779px;

            img { height: 341px; width: 454px; top: 20px; left: 163px; }
        }
    }
}

@media (min-width: $screen-md-min) {
    .iphone-sampler {
        left: 60px; position: relative;

        div { display: inline-block; }

        .initial-samples {
            float: left;
            img { float: left; }

            &:after { background: transparent url(../content/imgs/iphone-sample-divider.png) no-repeat right center; display: inline-block; margin: 0; width: 133px; height: 480px; left: -35px; }
        }

        .sample-iphones { float: left; left: -20px; margin: 0; }
    }
}
