.post-filters {
    background: #e6e6e6; padding: 8px 0;

    .btn-default { border-color: #666666; }

    .dropdown-toggle {
        padding: 10px 30px 10px 10px; line-height: 1; text-transform: none; text-align: left; position: relative;

        &:hover, & { border: solid 1px $brand-grey-medium; outline: none!important; box-shadow: none; color: $text-color; text-decoration: none; }
        .caret { color: $link-color; position: absolute; right: 10px; top: 50%; margin-top: -2px; }
    }

    &.shaded {
        &, .search-field { background: $gray-lighter; }
    }

    .search-form {
        background: #FFF; padding: 0px 5px 0 5px;

        .search-submit { right: 6px; }
        label { margin-bottom: 3px; }
    }
}

.dropdown {
    .dropdown-menu {
        box-shadow: 0 1px 1px rgba(0,0,0,0.4); font-size: 13px; margin-top: 8px;

        &:before { content: ''; width: 0; height: 0; border-style: solid; border-width: 0 10px 7px; border-color: transparent transparent #fff; position: absolute; top: -6px; left: 20px; }
        li {
            list-style: none;

            a {
                color: $text-color; display: block; line-height: 1.6; padding: 5px 20px 5px 10px;

                .sidr & {
                    color: #FFF;


                }
            }

            .sidr &.current-menu-item a { color: $text-color; }

            &.current-cat-parent, &.current-cat {
                > a { color: $link-color; }
            }
        }
    }
}

.facetwp-facet.facetwp-type-checkboxes {
    margin-bottom: 0; max-height: 9999px;
    .facetwp-checkbox {
        background: transparent!important; list-style: none; padding: 5px 20px 5px 10px;

        &.checked { color: $link-color; }
        .facetwp-counter { display: none; }
    }
}
