
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=608041cd-8e47-4b0f-adad-b3d94c68b996");
@font-face{
font-family:"Sofia Pro W01_n1";
src:url("../content/fonts/42f55828-0bff-4980-96ec-f0e66bf17132.eot?#iefix") format("eot")
}
@font-face{
font-family:"Sofia Pro W01";
src:url("../content/fonts/42f55828-0bff-4980-96ec-f0e66bf17132.eot?#iefix");
src:url("../content/fonts/42f55828-0bff-4980-96ec-f0e66bf17132.eot?#iefix") format("eot"),url("../content/fonts/03d6e9c8-63d0-4bb4-9f03-225ecc92d0b5.woff2") format("woff2"),url("../content/fonts/7deec5d5-c013-43cf-b573-d5656d323f03.woff") format("woff"),url("../content/fonts/4977238e-b348-4aa3-98a2-b4142bb331bf.ttf") format("truetype"),url("../content/fonts/691292b0-deb0-400b-9d25-459ece8665ea.svg#691292b0-deb0-400b-9d25-459ece8665ea") format("svg");
font-weight: 100;
font-style: normal;
}
@font-face{
font-family:"Sofia Pro W01_i1";
src:url("../content/fonts/48859599-5dc8-4131-b3b7-a0697ebdb0f2.eot?#iefix") format("eot")
}
@font-face{
font-family:"Sofia Pro W01";
src:url("../content/fonts/48859599-5dc8-4131-b3b7-a0697ebdb0f2.eot?#iefix");
src:url("../content/fonts/48859599-5dc8-4131-b3b7-a0697ebdb0f2.eot?#iefix") format("eot"),url("../content/fonts/e5442d63-bacc-4559-9cd3-9e5595665edf.woff2") format("woff2"),url("../content/fonts/e006fedf-79f5-404e-80b4-2a3b184e8d31.woff") format("woff"),url("../content/fonts/9f9b2bc8-f333-4ebe-bdb1-e9795526665a.ttf") format("truetype"),url("../content/fonts/903e3fd5-293a-4f11-b32a-0a3e45016b11.svg#903e3fd5-293a-4f11-b32a-0a3e45016b11") format("svg");
font-weight: 100;
font-style: italic;
}
@font-face{
font-family:"Sofia Pro W01_n2";
src:url("../content/fonts/3e7e883c-d890-4392-9017-3238717c52e9.eot?#iefix") format("eot")
}
@font-face{
font-family:"Sofia Pro W01";
src:url("../content/fonts/3e7e883c-d890-4392-9017-3238717c52e9.eot?#iefix");
src:url("../content/fonts/3e7e883c-d890-4392-9017-3238717c52e9.eot?#iefix") format("eot"),url("../content/fonts/3b485b1f-1671-4643-8881-d860c25e479f.woff2") format("woff2"),url("../content/fonts/6f8f20de-6458-4121-be65-48f1075f0131.woff") format("woff"),url("../content/fonts/d867ac7c-a971-4421-a621-27862985551d.ttf") format("truetype"),url("../content/fonts/e796d2a3-0b00-433c-8e0f-b6c106ba8de2.svg#e796d2a3-0b00-433c-8e0f-b6c106ba8de2") format("svg");
font-weight: 200;
font-style: normal;
}
@font-face{
font-family:"Sofia Pro W01_n3";
src:url("../content/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix") format("eot")
}
@font-face{
font-family:"Sofia Pro W01";
src:url("../content/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix");
src:url("../content/fonts/0eaf6264-15ee-4251-826e-9c0a59e8395f.eot?#iefix") format("eot"),url("../content/fonts/8d11b8a0-868c-4a53-8b26-9f0ccbd58247.woff2") format("woff2"),url("../content/fonts/9b976f15-23b7-45cd-ad4b-59c95b2889f9.woff") format("woff"),url("../content/fonts/864da3de-5a97-4ce6-a22b-22932ed4dfe0.ttf") format("truetype"),url("../content/fonts/d5898683-1b2a-4b1b-8058-0c8db30e40cf.svg#d5898683-1b2a-4b1b-8058-0c8db30e40cf") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Sofia Pro W01_n4";
src:url("../content/fonts/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot?#iefix") format("eot")
}
@font-face{
font-family:"Sofia Pro W01";
src:url("../content/fonts/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot?#iefix");
src:url("../content/fonts/941243bb-e692-46f8-91b9-6e621e5c1ff8.eot?#iefix") format("eot"),url("../content/fonts/8b31e0d7-5f53-45c2-b318-064f0b532543.woff2") format("woff2"),url("../content/fonts/476fe015-ab32-40a2-8fed-0a5af9a3bba4.woff") format("woff"),url("../content/fonts/d8bcfa37-4f93-49cf-8dea-c29e894af58e.ttf") format("truetype"),url("../content/fonts/28fc42bb-8761-4e6a-8c62-65d4a41c9e33.svg#28fc42bb-8761-4e6a-8c62-65d4a41c9e33") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Sofia Pro W01_i4";
src:url("../content/fonts/addba733-2fd3-4151-adf4-d0b563dc6517.eot?#iefix") format("eot")
}
@font-face{
font-family:"Sofia Pro W01";
src:url("../content/fonts/addba733-2fd3-4151-adf4-d0b563dc6517.eot?#iefix");
src:url("../content/fonts/addba733-2fd3-4151-adf4-d0b563dc6517.eot?#iefix") format("eot"),url("../content/fonts/87cd0dd6-3e8b-46f1-b677-ab7644ea015e.woff2") format("woff2"),url("../content/fonts/90682d0e-e5df-4a2e-a2ff-6899b8ae8e4b.woff") format("woff"),url("../content/fonts/d1a6f359-b96c-43fd-87af-85f9762a4ecf.ttf") format("truetype"),url("../content/fonts/6cc18d90-baae-43d6-9b7e-e778cb8c630f.svg#6cc18d90-baae-43d6-9b7e-e778cb8c630f") format("svg");
font-weight: 400;
font-style: italic;
}
@font-face{
font-family:"Sofia Pro W01_n5";
src:url("../content/fonts/27070da8-f8ed-4002-8324-4f0dd80f8fa4.eot?#iefix") format("eot")
}
@font-face{
font-family:"Sofia Pro W01";
src:url("../content/fonts/27070da8-f8ed-4002-8324-4f0dd80f8fa4.eot?#iefix");
src:url("../content/fonts/27070da8-f8ed-4002-8324-4f0dd80f8fa4.eot?#iefix") format("eot"),url("../content/fonts/fe0b48dd-7bb4-4787-913d-eaf613373f35.woff2") format("woff2"),url("../content/fonts/d493595c-97d2-4edc-bc9a-c09ad13b4913.woff") format("woff"),url("../content/fonts/449bb77f-1bc7-4956-a8f1-3d4ae9243a59.ttf") format("truetype"),url("../content/fonts/1332b505-18f0-4aa5-ba55-9be49eba8fb5.svg#1332b505-18f0-4aa5-ba55-9be49eba8fb5") format("svg");
font-weight: 500;
font-style: normal;
}
@font-face{
font-family:"Sofia Pro W01_o6";
src:url("../content/fonts/e488d96e-1d10-41aa-a2a0-8cb7cc0a54a8.eot?#iefix") format("eot")
}
@font-face{
font-family:"Sofia Pro W01";
src:url("../content/fonts/e488d96e-1d10-41aa-a2a0-8cb7cc0a54a8.eot?#iefix");
src:url("../content/fonts/e488d96e-1d10-41aa-a2a0-8cb7cc0a54a8.eot?#iefix") format("eot"),url("../content/fonts/20755c49-19b5-4792-aaf3-27f6b048149a.woff2") format("woff2"),url("../content/fonts/7cdc9309-dc21-43e2-a348-c6e3853fe8a9.woff") format("woff"),url("../content/fonts/fe0fe0a1-32b6-4795-80da-fb446ac9d5ea.ttf") format("truetype"),url("../content/fonts/d7a947d1-755b-4774-a917-036acd235435.svg#d7a947d1-755b-4774-a917-036acd235435") format("svg");
font-weight: 600;
font-style: oblique;
}
@font-face{
font-family:"Thirsty Soft W01_n4";
src:url("../content/fonts/fb4d5104-54a8-4bed-bf81-0029f2490fec.eot?#iefix") format("eot")
}
@font-face{
font-family:"Thirsty Soft W01";
src:url("../content/fonts/fb4d5104-54a8-4bed-bf81-0029f2490fec.eot?#iefix");
src:url("../content/fonts/fb4d5104-54a8-4bed-bf81-0029f2490fec.eot?#iefix") format("eot"),url("../content/fonts/88a6f936-2e14-41a0-8f89-8a782e5f35ea.woff2") format("woff2"),url("../content/fonts/595168ff-792a-462b-96e5-7a1fa1374867.woff") format("woff"),url("../content/fonts/29ad5312-d704-430d-8dac-fd4afff68763.ttf") format("truetype"),url("../content/fonts/000ae512-a57b-45d2-aa3f-348bed5584b5.svg#000ae512-a57b-45d2-aa3f-348bed5584b5") format("svg");
font-weight: 400;
font-style: normal;
}
