.marketo-form.form-narrow {
    max-width: 455px; margin: 30px auto 0 auto;
}

.comment-form input[type=email], .comment-form input[type=text], .comment-form input[type=url], .comment-form textarea, .form-control, .search-form .search-field { box-shadow: none; }

.form-control {
    line-height: 1.4; padding: 5px 10px;
}

.shaded-form {
    padding-top: 10px; padding-bottom: 10px; background: $gray-lighter;

    .title { padding: 0 10px 10px 10px; }
}

// Search form
.search-form {
    display: inline-block; position: relative; width: 100%;

    label { width: 100%; }

    .search-field {
        border: 0; border-bottom: solid 1px $text-color; font-weight: 300; padding: 8px 30px 5px 0; line-height: 1; width: 100%;

        &, &:focus { outline: none; }
    }

    .search-submit { box-shadow: none; color: $text-color; position: absolute; right: 0; top: 3px; padding: 6px 0; }
}

.facetwp-facet { margin-bottom: 0; }
.facetwp-dropdown {
    @extend .form-control;
}

.mktoForm {
    //Marketo sets the fonts in the form div tag for us, so we need to override everything.
    font-family: $font-family-sans-serif!important; font-size: $font-size-base!important; color: $text-color!important; width: 100%!important;

    .jumbotron &,  .dark-form & { color: #FFF!important; }

    .mktoFormRow {
        width: 100%;

        .mktoFormCol {
            float: left!important; margin-bottom: 5px!important; padding: 0 10px;

            @media (min-width: $screen-sm-min) { margin-bottom: 0!important; }
        }

        input[type="hidden"].mktoFormCol { margin-bottom: 0!important; padding: 0; }

        &.cols-1 .mktoFormCol { width: 100%!important; }
        &.cols-2 .mktoFormCol {
            width: 100%!important;

            @media (min-width: $screen-sm-min) { width: 50%!important; }
        }


        &.cols-0 .mktoFormCol, &.cols-1 .mktoFormCol { width: 100%; }

        .mktoFieldWrap {
            @extend .form-group; width: 100%; margin-bottom: 20px!important;

            @media (min-width: $screen-sm-min) {
                #blog-subscribe-bar & { margin-bottom: 0!important; }
            }

            input[type=text], input[type=url], input[type=email], input[type=tel], input[type=number], input[type=date], select.mktoField, textarea.mktoField {
                @extend .form-control;
                @extend .input-sm;
                line-height: 1.4!important; width: 100%!important; box-shadow: 2.1px 3.4px 7.2px 1.8px rgba(0, 0, 0, 0.38); border: 0; border-radius: 0; padding: 10px 12px; height: 39px;
            }

            .inputWrap {
                float: left; width: 100%;

                &.mktoValid {
                    position: relative;

                    &:after {
                        content: 'c'; background: #FFF; font-family: 'quickmobile'; line-height: 1; position: absolute; color: $brand-primary; top: 1px; right: 1px; border-radius: 4px; padding: 8px 8px 7px 8px;
                    }
                }
            }

            input[type=radio], input[type=checkbox] {
                background: #FFF; box-shadow: none; opacity: 1; top: 5px; position: relative;
            }

            input[type=radio] + label:before {
                display: none;
            }

            .mktoCheckboxList {
                width: 100%!important;

                label { font-weight: 300; }
            }
        }

        &.showLabel .mktoLabel { display: block; }
    }

    .mktoError {
        position: relative!important; right: auto!important; bottom: auto!important; left: auto!important; float: left;

        .mktoErrorArrowWrap { display: none!important; }
        .mktoErrorMsg {
            background: transparent!important; color: $brand-danger!important; border: 0!important; line-height: 1.2!important; text-shadow: none!important; box-shadow: none!important; padding: 6px 0 0 0!important; font-size: 13px!important; margin: 0!important;
        }
    }

    //Get rid of Marketo's Extra Spacers
    &:not(.form-top-labels) .mktoLabel, .mktoClear, .mktoOffset, .mktoGutter { display: none; }

    &.form-top-labels {
        .mktoLabel {
            width: 100%!important; margin-bottom: 6px; font-weight: normal; font-size: 14px;
        }

        .mktoRequiredField .mktoLabel:after { content: '*'; color: $brand-danger; margin-left: 2px; }
        .mktoCheckboxListRow .mktoLabel, .mktoRequiredField .mktoAsterix { display: none; }
    }

    .mktoButtonRow {
        width: 100%; padding: 0 10px;

        .mktoButtonWrap {
            &, &.mktoShadow {
                margin-left: 0!important;

                .mktoButton {
                    @extend .btn;
                    @extend .btn-gradient;
                    @extend .btn-block;

                    .dark-form & { @extend .btn-danger; }

                    box-shadow: 2.1px 3.4px 7.2px 1.8px rgba(0, 0, 0, 0.38); display: block; width: auto; margin: 0 auto; padding: 14px 50px;
                }
            }
        }
    }

    .inline-marketo-form &, .form-inline & {
        text-align: center; line-height: 1; padding: 9px;

        .mktoFieldWrap { margin-bottom: 0; }
        .mktoButtonRow, .mktoFormRow { display: inline-block; width: auto; vertical-align: top; }

        .mktoFormRow .mktoFieldWrap input[type=email] { width: 180px!important; }

        .mktoButtonRow .mktoButtonWrap .mktoButton {
            @extend .btn-sm;

            background: transparent!important; border: solid 1px $brand-primary!important; color: $brand-primary!important; float: right; top: 0; position: relative; padding: 8px 20px 9px;

            &:hover {
                background: $brand-primary!important; color: #FFF!important;
            }
        }

        .inputWrap { position: relative; }

        @media (min-width: $screen-sm-min) {
            .mktoError {
                background: $brand-danger; position: absolute!important; top: 103%!important; left: 0!important; float: none; padding: 5px; border-radius: 5px;

                .mktoErrorMsg { color: #FFF!important; padding-top: 0!important; }
            }
        }

        @media (max-width: $screen-sm-min) {
            .mktoFormRow .mktoFieldWrap input[type=email], .mktoFormCol, .mktoButtonRow, .mktoFormRow { display: block; width: 100%!important; }
        }
    }

    &#mktoForm_1291 {
        .mktoLabel { display: block; float: none; padding: 10px; text-align: center; width: 100%!important; }
        .nps-row { text-align: center; }
        .mktoRadioList {
            display: inline-block; text-align: center; width: auto!important; margin: 0 auto; float: none; position: relative;

            [class^="thumbs-"], [class*=" thumbs-"] {
                display: none; position: absolute; text-align: center; font-size: 13px; top: 20px;

                [class^="icon-"], [class*=" icon-"] { font-size: 34px; line-height: 1; }
            }

            .thumbs-down { left: -105px; }
            .thumbs-up { right: -110px; }

            .item {
                display: inline-block; padding: 8px;

                input { float: none; }
                label { display: block; padding-top: 10px; text-align: center; }
            }
        }
    }
}

.mktoForm .form-terms {
    font-size: 11px; padding-top: 8px!important; padding-left: 10px; padding-right: 10px; text-align: center;

    &.large { font-size: 16px; }
    a {
        color: $text-color; padding: 0 1px;

        .jumbotron &, .dark-form & { color: #FFF; }
    }

    body.home & { display: none; }
}

#success-modal {
    background: $gray-lighter; max-width: 774px;

    .thumb { padding: 0 20px; text-align: center; line-height: 465px; }

    .content {
        background: #FFF; font-size: 25px; font-weight: 300; padding: 0; text-align: center;

        .inner {
            padding: 110px 36px;

            .modal-title { font-size: 48px; line-height: 1.2; font-weight: 100; }
        }

        .btn { border-radius: 0; padding: 36px 10px; }
    }
}

@media (min-width: $screen-sm-min) {
    .mktoForm#mktoForm_1291 {
        .mktoRadioList {
            [class^="thumbs-"], [class*=" thumbs-"] {
                display: inline-block;
            }

            .item {
                display: inline-block; padding: 8px;

                input { float: none; }
                label { display: block; padding-top: 10px; text-align: center; }
            }
        }
    }

    .search-form {
        max-width: 220px;

        .section-intro & {
            max-width: 720px;

            .search-field { font-size: 25px; }
            button { font-size: 30px; }
        }
    }
}

// Enables/disables jQuery UI datepicker (jQuery UI can go die in a fire...IMHO)
$fh_gf_jqueryui_datepicker_enabled: false !default;
// Setup a reasonable responsive break-point for complex fields
$fh_gf_responsive_break_at: $screen-sm-min !default;

// Field/form container styling:
.gform_wrapper { max-width: 460px; margin: 30px auto 0 auto; }
.gform_wrapper ul { @extend .list-unstyled; }
.gform_wrapper li {
    @extend .form-group; padding: 0!important;

    &:before { display: none; }
}
.gform_wrapper form { margin-bottom: 0; }

// Field container clear
.gfield { clear: both; }

// Form description
.gform_heading .gform_description {
    display: block;
    margin: 0 0 10px 0;
}

// Radios/checks
.gfield_checkbox,
.gfield_radio {
    margin: 0 0 0 10px;
    label {
        font-weight: normal;
        margin-left: 10px;
    }
    li { margin-bottom: 0px; }
}

// Multiple select and textarea height fixes
.ginput_container select[multiple] { height: auto; }
.ginput_container textarea { height: auto; }


//
//  Required *:
//
.gform_wrapper .gfield_required {
    color: $state-danger-text;
    padding-left: 1px;
}

.gform_confirmation_message {
    @extend .alert;
    @extend .alert-success;
}

//
//  input, select, and textarea elemnt extends:
//
.ginput_container input[type=text],
.ginput_container input[type=email],
.ginput_container input[type=number],
.ginput_container input[type=url],
.ginput_container input[type=tel],
.ginput_container input[type=date],
.ginput_container input[type=password],
.ginput_container select,
.ginput_container textarea {
    @extend .form-control;
}


//
//  Button extend:
//
.gform_button {
    @extend .btn;
    @extend .btn-primary;

    display: block; width: 100%;
}

.gfield_label { display: none; }

//
//  Error/notification messages handling:
//
.gform_wrapper .gfield_error {
    .gfield_label { color: $state-danger-text; }
    input,
    select,
    textarea {
        background-color: $alert-danger-bg;
        border-color: $alert-danger-border;
        color: $alert-danger-text;
        @include form-control-focus( $alert-danger-text );
    }
}
.validation_error {
    @extend .alert;
    @extend .alert-danger;
}
.validation_message {
    font-style: italic;
    margin-top: 5px;
}
#gforms_confirmation_message { @extend .alert; }


//
//  Gravity Forms complex containers:
//  - based on discussion from http://roots.io/style-gravity-forms-with-bootstrap/
//  - HELLA refactored to SCSS/responsive sanity =/
//
.ginput_complex {

    // Add a 10px gray border to the left side of complex groupings
    border-left: 10px $gray-lighter solid;
    display: block;
    padding: 10px 0 0 20px;

    // Fix label font weight and top spacing
    label {
        font-weight: normal;
        margin: 5px 0 15px 0;
    }
    span:last-of-type label { margin: 5px 0 0 0; }

    // Full-width container
    .ginput_full { width: 100%; }

    // Left/right containers (ex: first/last name)
    .ginput_left,
    .ginput_right {
        float: left;
        width: 50%;
    }

    // Inputs and labels
    .ginput_full {
        input,
        label {
            width: 100% !important;
        }
    }
    .ginput_left {
        input,
        select,
        textarea,
        label {
            width: 95% !important;
        }
    }

    // Responsive break for full-width input fields
    @media screen and ( max-width: $fh_gf_responsive_break_at ) {
        .ginput_full,
        .ginput_left,
        .ginput_right {
            float: none;
            width: 100% !important;
            input { width: 100% !important; }
            label { width: 100% !important; }
        }
    }
}

// Add BS3 clearfix
.gf_clear_complex { @extend .clearfix; }


//
//  Weird-ass clear-multi shit:
//
.clear-multi {

    display: table;

    // Add BS3 clearfix
    @extend .clearfix;

    // Time/date fields
    // - consider refactoring to be wrapped in .gfield_time_* and .gfield_date_*
    //   keeping non-wrapped due to compiled CSS bloat. Keep an eye on this!
    .ginput_container {
        display: table-cell;
        padding-left: 5px;
        input { width: 70px; }
        select { width: 80px; }
        // Disable the labels for time (yeahhh no need really)
        label { display: none; }
    }
    .ginput_container:first-child { padding-left: 0; }

    // This is hack-y but fixes a rendering bug on Chrome
    // TODO: clean this up
    .gfield_time_hour,
    .gfield_time_minute,
    .gfield_time_ampm {
        float: left;
    }

    // Inline block so that input element aligns properly with ":"
    .gfield_time_hour input { display: inline-block; }

    //
    //  Date fields
    //
    .gfield_date_month,
    .gfield_date_day,
    .gfield_date_year {
        // Re-enable the date field labels
        label {
            display: block;
            font-weight: normal;
        }
    }
}


//
//  Lists:
//
.gfield_list {
    // Offset the top padding for the cell spacing
    margin-top: -5px;
    tr .gfield_list_cell { padding: 5px 0; }
    .gfield_list_icons {
        vertical-align: middle !important;
        width: 60px;
        img { float: left; }
    }
}


//
//  General Datepicker:
//
.gfield .datepicker {
    display: inline-block !important;
    width: 170px !important;
}

//
//  Folkhack's jQuery UI Datepicker: (DEPRECIATED!)
//  - hide jQuery UI datepicker in lieu of using the HTML type="date" option
//  - left this around just-in-case
//
@if( $fh_gf_jqueryui_datepicker_enabled ) {

    // Local defaults from "Folkhack's Boilerplate"
    //  * Allows for stand-alone use
    //  * TODO: nix this ... I think I'm totally done f'n with jQuery UI
    $k_black:      #000000 !default;
    $k_white:      #FFFFFF !default;
    $k_mineshaft:  #303030 !default;
    $k_silver:     #CCCCCC !default;
    $k_whitesmoke: #F5F5F5 !default;

    .ui-datepicker-trigger {
        display: inline-block;
        margin-left: 5px;
    }
    .ui-widget {
        background: $k_mineshaft;
        box-shadow: 1px 4px 9px $k_silver;
    }
    .ui-datepicker {
        font-family: Verdana, sans-serif;
        font-size: 90% !important;
        padding: 0;
        a:hover { text-decoration: none; }
        .ui-datepicker-header {
            background: transparent;
            border: none;
            font-weight: normal;
            padding: 3px;
            a {
                color: $k_white;
                text-transform: uppercase;
            }
        }
        .ui-datepicker-header .ui-datepicker-title { text-align: center; }
        .ui-datepicker-month {
            margin-right: 5px;
        }
        .ui-datepicker-next {
            float: right;
            right: 2px;
        }
        .ui-datepicker-prev {
            float: left;
            left: 2px;
        }
        .ui-datepicker-next,
        .ui-datepicker-prev {
            cursor: pointer;
            top: 3px;
            span {
                font-size: 10px;
                font-weight: normal;
                margin-top: 0;
                position: relative;
                top: 0;
            }
        }
        table { margin: 0; }
        th {
            border-top: 1px solid $k_silver;
            border: none;
            color: $k_silver;
            font-size: 13px;
            font-weight: normal;
            padding: 3px 0;
            text-align: center;
        }
        td {
            background: $k_whitesmoke;
            border: none;
            color: $k_mineshaft;
            padding: 0;
            text-align: center;
        }
        td .ui-state-default {
            background: transparent;
            border: none;
            display: block;
            margin: 0;
            padding: .5em;
            text-align: center;
        }
        td .ui-state-active,
        td .ui-state-hover {
            background: $k_white;
        }
        .ui-state-disabled  { opacity: 1; }
    }

} @else {

    // Hide jQuery UI datepicker
    .ui-datepicker,
    .ui-datepicker-trigger { display: none !important; }
}


// Honeypot validation container
// - hides .gform_validation_container

.gform_validation_container {
  display: none;
}
