﻿@charset "UTF-8";

@font-face {
  font-family: "quickmobile";
  src:url("../content/fonts/quickmobile.eot?v=5");
  src:url("../content/fonts/quickmobile.eot?v=5#iefix") format("embedded-opentype"),
    url("../content/fonts/quickmobile.woff?v=5") format("woff"),
    url("../content/fonts/quickmobile.ttf?v=5") format("truetype"),
    url("../content/fonts/quickmobile.svg?v=5#quickmobile") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  content: attr(data-icon);
}

.list-checks li, .at-icon-wrapper, [data-icon], [class^="icon-"], [class*=" icon-"] {
    a & { vertical-align: middle; display: inline-block; }
    &:before {
        font-family: "quickmobile" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &:hover, &:focus { text-decoration: none; }
}

.icon-youtube:before {
  content: "\79";
}

.at-share-tbx-element .at-svc-facebook .at-icon-wrapper, .icon-facebook {
    &:before {
        content: "\66";
    }
}

.at-share-tbx-element .at-svc-linkedin .at-icon-wrapper, .icon-linkedin {
    &:before {
        content: "\6c";
    }
}

.at-share-tbx-element .at-svc-twitter .at-icon-wrapper, .icon-twitter {
    &:before {
        content: "\74";
    }
}

.at-share-tbx-element .at-svc-google_plusone_share .at-icon-wrapper, .icon-google-plus {
    &:before {
      content: "\67";
    }
}

.icon-search:before {
  content: "\73";
}

.icon-quickmobile:before {
  content: "\71";
}

.icon-download:before {
  content: "\64";
}

.list-checks li, .icon-check {
    &:before {
        content: "\63";
    }
}

.icon-forward:before {
  content: "\62";
}
.icon-hamburger:before {
  content: "\69";
}
.icon-chevron-left:before {
  content: "\6a";
}
.icon-marker:before {
  content: "\6b";
}
.icon-activityfeed:before {
  content: "\6f";
}
.icon-exhibitors:before {
  content: "\72";
}
.icon-sponsors:before {
  content: "\7a";
}
.icon-whatson:before {
  content: "\41";
}
.icon-info:before {
  content: "\61";
}
.icon-messaging:before {
  content: "\65";
}
.icon-like-minded:before {
  content: "\68";
}
.icon-attendees-menu:before {
  content: "\6d";
}
.icon-gear:before {
  content: "\42";
}
.icon-dialback:before {
  content: "\75";
}
.icon-speakers:before {
  content: "\70";
}
.icon-attendees:before {
  content: "\76";
}
.icon-schedule:before {
  content: "\77";
}
.icon-myschedule:before {
  content: "\78";
}
.icon-thumbsdown:before {
  content: "\43";
}
.icon-thumbsup:before {
  content: "\44";
}
.icon-arrow:before {
  content: "\45";
}
.icon-scroll-down:before {
  content: "\46";
}
.icon-comment:before {
  content: "\6e";
}
.icon-play:before {
  content: "\4f";
}
