.list-checks {
    text-align: center; padding: 15px 0;
    li {
        line-height: 1.35; padding: 20px 0 20px 35px; margin: 0 40px; max-width: 220px; vertical-align: top; text-align: left; position: relative;

        &:before { color: #ff5245; font-size: 24px; line-height: 1; position: absolute; left: 0; top: 18px; }
    }
}
