.section-nav {
    background: #FFF; border-bottom: solid 1px #d7d7d7; text-align: center;

    .item {
        border-bottom: solid 1px #d7d7d7; padding: 10px 0;

        .title { font-weight: 500; text-transform: uppercase; }

        &:last-child { border: 0; }
    }
}

.tab-nav {
    font-size: 14px; text-align: center; padding-top: 30px; padding-bottom: 35px;

    li { cursor: pointer; }

    .btn {
        border: solid 1px $brand-purple; color: $brand-purple; box-shadow: none; margin: 5px;

        &:hover, &.active { background: $brand-purple; box-shadow: none; color: #FFF; }
    }
}

.icon-nav {
    font-size: 12px;

    li {
        font-weight: 600; line-height: 1.16; padding: 0; margin: 8px 2px; width: 58px; vertical-align: top; opacity: 0.5; transition: opacity 0.3s ease-out;

        &.active { opacity: 1; }
        img { margin: 0 auto 8px auto; display: block; }
    }
}

@media (min-width: $screen-sm-min) {
    .icon-nav li { margin: 8px; }

    .section-nav {
        padding: 30px 0;

        .item {
            border-right: solid 1px #d7d7d7; padding: 0; border-bottom: 0;

            &:last-child { border-right: 0; }
        }
    }
}
