.photo-tiles {
    background: $gray-lighter;

    .photo-tile {
        text-decoration: none; height: 220px; margin-bottom: 30px; line-height: 1.33; transition: all 0.2s ease-out; position: relative;

        &, a { color: #FFF; }
        &, span { display: block; overflow: hidden; transition: all 0.15s ease-out; }
        &:hover, &:focus { text-decoration: none; }

        .inner { position: absolute; bottom: 0; left: 0; padding: 8px 15px; width: 100%; }

        .tile-title-prefix { font-size: 13px; height: 17px; }
        .tile-title { font-weight: 600; font-size: 18px; }
        .tile-meta { font-size: 13px; }
        .tile-content { transition: all 0.2s ease-out; }
        .tile-description { height: 0; max-height: 0; padding-top: 7px; }

        &.fade-in {
            .inner { display: table; opacity: 0; transition: opacity 0.2s ease-out; }
            .tile-content { display: table-cell!important; vertical-align: middle; }

            &:hover .inner { opacity: 0.9; }
        }

        &.slide-up:hover {
            .tile-title-prefix { height: 0; }
            .tile-description { height: auto; max-height: 160px; }
            .tile-content { height: 187px!important; }
        }

        &.static {
            background: #e6e6e6; color: $text-color; height: auto;

            &, span { overflow: visible; }
            .inner { position: relative; }
            .tile-meta {
                color: $link-color; font-size: $font-size-base; margin-top: 20px; text-transform: uppercase; text-align: right;

                &:before { content: '>'; border: solid 1px $brand-primary; border-radius: 50%; display: block; float: left; height: 20px; width: 20px; font-size: 13px; line-height: 16px; text-align: center; padding-left: 2px; }
            }

            .tile-description { height: auto; max-height: 99999px; }
        }
    }

    .case-study-tile {
        padding: 10px;

        .photo-tile {
            height: 302px; margin-bottom: 0;

            .inner { height: 100%; line-height: 302px; position: relative; bottom: auto; left: auto; }
            .tile-content { display: inline-block; line-height: 1.35; }
            &, .tile-content, .quote { font-size: 15px; }
            &:hover .inner { opacity: 1; }
        }
    }

    .section-client_quote_grid & {
        background: #FFF; padding-top: 0;
    }

    .section-quote_photo_tiles & {
        background: #FFF; padding-bottom: 0;
        .photo-tile-wrap { padding: 10px; }

        .photo-tile {
            height: 474px; margin-bottom: 0;

            .inner { height: 100%; line-height: 474px; }
            .tile-content { display: inline-block; line-height: 1.35; }
        }
    }

//    .careers & .photo-tile.quote-block .quote { font-style: normal; }
}

.logo-tiles {
    .logo-tile {
        line-height: 160px; height: 160px; text-align: center;

        img { max-width: 80%; zoom: 50%; }
    }
}

@media (min-width: $screen-sm-min) {
    .logo-tiles .logo-tile { line-height: 230px; height: 230px; }
}
