.photo-blocks {
    overflow: hidden;
    text-align: center;

    .photo-block {
        display: inline-block;
        float: none;
        padding-top: 36px;
        padding-bottom: 36px;
        vertical-align: top;

        span {
            display: block;
        }

        .inner {
            position: relative;
        }

        .photo {
            padding-bottom: 16px;

            &:last-child {
                padding-bottom: 0;
            }

            img {
                max-width: 220px;
                height: auto;
                max-height: 90px;
            }

            svg {
                border: solid 1px $brand-primary;
                border-radius: 50%;
                max-width: 90px;
                padding: 10px;
                box-shadow: 2.1px 3.4px 7.2px 1.8px rgba(0, 0, 0, 0.38);

                polygon, circle, path, rect {
                    fill: $brand-primary;
                }

                .with-background & {
                    transition: background 0.2s ease-out;

                    polygon, circle, path, rect {
                        fill: #FFF;
                    }

                    border-color: #FFF;
                }

                #socially-engaged & {
                    border: 0;
                    padding: 0;
                }
            }

            .with-background & a:hover {
                svg {
                    background: #FFF;

                    polygon, circle, path, rect {
                        fill: $brand-primary;
                    }
                }
            }
        }

        &.image-left {
            @media (max-width: $screen-sm-min) {
                text-align: center;
            }

            .photo {
                a {
                    display: block;
                    max-width: 70px;
                }

                svg {
                    border: 0;
                    padding: 0;
                }
            }

            .block-content {
                @media (min-width: $screen-sm-min) {
                    padding: 0;
                }

                p {
                    margin-bottom: 6px;
                }
            }
        }

        &.cta {
            .title {
                font-size: 18px;
                margin-bottom: 12px;
            }

            .block-content {
                background: #f5f5f5;
                padding: 18px 20px 20px 20px;
            }
        }

        &:not(.divider) {
            .photo img.svg-image {
                background: #FFF;
            }
        }

        .photo-meta {
            color: $brand-info;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 2px;
        }

        .title {
            font-weight: 600;
            margin-bottom: 5px;

            &.large {
                font-weight: 300;
                font-size: 26px;
                line-height: 1.25;
                margin-bottom: 18px;
            }

            &.with-excerpt {
                margin-bottom: 0;
            }

            a {
                color: $text-color;
                text-decoration: none;

                &:hover, &:focus {
                    color: $text-color;
                }
            }
        }

        .sub-title {
            font-weight: 500;
            margin-bottom: 15px;
        }

        p {
            line-height: 1.75;
            max-width: 280px;
            margin: 0 auto 15px auto;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.with-quote {
            height: 250px;
            margin-top: 20px;

            svg {
                border: solid 1px #FFF;
                background: #FFF;

                polygon, circle, path, rect {
                    fill: #7730d9 !important;
                }
            }

            .hover-quote {
                background: $brand-primary;
                color: #FFF;
                height: 0;
                overflow: hidden;
                transition: all 0.2s ease-out;
                position: absolute;
                bottom: 0;
                padding: 15px;
                opacity: 0;
                display: table;
                margin: 0 20px;
                height: 100%;
                visibility: hidden;

                .inner {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            &.active {
                .hover-quote {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    a.photo-block {
        color: $text-color;

        &:focus, &:hover {
            text-decoration: none;
        }

        .cta {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.divided {
        .photo-block {
            border-bottom: solid 1px #dcdcdc;
        }
    }

    &.press-coverage-listing {
        margin-top: 30px;

        .photo-block {
            text-align: left;
        }
    }

    &.cols-5 .photo-block {
        .col-sm-2 {
            width: 20%;
        }

        .inner {
            padding: 0;
        }
    }

    &.cols-2 {
        .photo-block {
            padding-bottom: 6px;

            p {
                max-width: 380px;
            }
        }
    }
}

.quote-block {
    text-align: center;

    .quote {
        font-size: 21px;
        font-weight: 400;
        line-height: 1.6;
        margin-bottom: 30px;
    }

    .quote-logo {
        margin-bottom: 20px;

        img {
            max-width: 200px;
        }
    }

    .quote-author strong {
        font-weight: 300;
        font-size: 18px;
        color: #777;
    }
}

@media (max-width: $screen-sm-min) {
    #socially-engaged .photo-blocks .photo-block {
        width: 40%;
    }
}

@media (min-width: $screen-sm-min) {
    .photo-blocks {
        .photo-block {
            .photo {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            &.divider .inner {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .photo-blocks {
        .photo-block {
            .inner {
                padding: 0 10px;
            }
        }
    }
}
