#sgcboxContent { background: transparent!important; }

body .colorbox2 #sgcboxClose {
    top: 10px; right: 10px; background: #FFF; border-radius: 50%; color: #00b3ca;

    &:before, &:after { content: ''; position: absolute; top: 9px; left: 4px; height: 2px; background: #00b3ca; transform: rotate(45deg); width: 12px; font-size: 22px; line-height: 1; z-index: 99999; text-indent: 0; }
    &:before { transform: rotate(-45deg);  }
}

#sgcboxLoadedContent {
    border-radius: 20px;

    a { color: #FFF; }
    h2 { text-transform: uppercase; font-weight: 200; color: #FFF; font-size: 40px; }
    .marketo-form.form-narrow { margin: 30px 30px 0; max-width: 999px; }
    .mktoForm {
        .mktoButton {
            background: #ffc03d; color: #00b3ca;

            &:hover { background: darken(#ffc03d, 5%); }
        }

        .mktoFormRow .mktoFieldWrap {
            input[type=date], input[type=email], input[type=number], input[type=tel], input[type=text], input[type=url], select.mktoField,  textarea.mktoField {
                border: 0;
            }
        }

        .form-terms { padding-left: 10px; }
    }
}
