#resumator-wrapper {
    font-size: 16px; max-width: 640px; margin: 0 auto;

    &, * { font-family: $font-family-sans-serif!important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

    .resumator-department-heading { padding-top: 30px; }
    .resumator-department-heading, .resumator-type-heading {
        font-size: 18px; line-height: 1.2; font-weight: 600;
    }

    .resumator-job-title { font-size: 16px; font-weight: 300; margin-bottom: 0; line-height: 1.2; padding-top: 15px; }
    .resumator-job-heading, .resumator-job-location { color: #a0a0a0; font-weight: 300; }
    .resumator-job-info-details, .resumator-job-info { color: #a0a0a0; font-size: 16px; font-weight: 300; margin-top: 0; }

    .resumator-job-link { color: $link-color; font-size: 16px; }
    .resumator-job-description-text {
        &, p {
            font-size: 16px;
        }

        strong { font-size: 600; }
        ul {
            list-style: none!important; margin-left: 0;

            > li { font-size: 16px; line-height: 1.2; font-weight: 300; list-style-type: none!important; padding-bottom: 10px; }
        }
    }

    .resumator-logo { text-align: center; }
    .resumator-buttons {
        margin-top: 0;
        input[type=button] {
            @extend .btn;
            @extend .btn-primary;
            @extend .btn-sm;
        }

        li:before { display: none; }
    }
}
