.qm-at-custom {
    .at-share-tbx-element {
        .at-share-btn {
            background: transparent!important; display: inline-block; margin: 0 10px!important; overflow: visible;

            &:first-child { margin-left: 0!important; }
            &:last-child { margin-right: 0!important; }
        }

        .at-icon-wrapper {
            background: transparent!important; color: $text-color; font-size: 30px; line-height: 1!important; height: auto!important; text-align: center;
            svg { display: none; }
        }
    }
}

.addthis_sharing_toolbox:not(.qm-at-custom) {
    .at-share-tbx-element {
        margin-bottom: 20px;

        .at-icon-wrapper {
            margin: 0; padding: 2px;

            .at-icon { height: 28px!important; width: 28px!important; }
        }
    }
}

.social-sharing-container {
    background: $brand-grey-light; margin:  0; padding-top: 25px; padding-bottom: 25px; transition: background 0.3s ease-out;

    a { text-decoration: none!important; }

    .back-icon { height: 32px; }
    &.active {
        .at-icon-wrapper, .back-icon a, a {
            color: #FFF!important; opacity: 0.5; text-align: center; display: inline-block; overflow: visible;

            &:after { content: ''; display: block; font-size: 10px; }
        }
    }

    &.active-youtube {
        background: #cf3427!important;

        .at-svc-youtube .at-icon-wrapper {
            opacity: 1; top: -3px; position: relative;

            &:after { content: 'Watch'; }
        }
    }

    &.active-twitter {
        background: #55acee!important;

        .at-svc-twitter .at-icon-wrapper {
            opacity: 1; top: -3px; position: relative;

            &:after { content: 'Tweet'; }
        }
    }

    &.active-facebook {
        background: #3b5998!important;

        .at-svc-facebook .at-icon-wrapper {
            opacity: 1; top: -3px; position: relative;

            &:after { content: 'Share'; }
        }
    }

    &.active-linkedin {
        background: #0077b5!important;

        .at-svc-linkedin .at-icon-wrapper {
            opacity: 1; top: -3px; position: relative;

            &:after { content: 'Post'; }
        }
    }

    &.active-google_plusone_share {
        background: #dc4e41!important;

        .at-svc-google_plusone_share .at-icon-wrapper {
            opacity: 1; top: -3px; position: relative;

            &:after { content: 'Share'; }
        }
    }

    &.active-back {
        background: $brand-info!important;

        .back-icon a {
            opacity: 1; top: -3px; position: relative;

            &:after { content: 'Back'; }
        }
    }
}

.share-links {
    bottom: 0; right: 0; width: 100%; height: 34px; position: absolute; line-height: 1; transition: background 0.5s ease-out;

    .icons { display: none; opacity: 0; transition: opacity 0.5s ease-out; }
    .share-toggle { float: right; padding: 8px; }
    .share-icon {
        cursor: pointer; float: left; padding: 8px;

        // &.icon-facebook { background: #3b5998 }
        // &.icon-twitter { background: #55acee; }
        // &.icon-linkedin { background: #0077b5; }
        // &.icon-google-plus { background: #dc4e41; }

        &:hover { opacity: 0.8; }
    }
    .photo-tiles .photo-tile & span { display: inline-block; }
    &.active {
        background: $headings-color;

        .icons { display: inline-block; opacity: 1; }
    }
}

@media (min-width: $screen-sm-min) {
    .qm-at-custom .at-share-tbx-element .at-share-btn { margin: 0 30px!important; }
}
