$sidebar-width: 240px;
$sidebar-width-neg: -240px;

.sidr {
    background: $headings-color;
    border-left: solid 1px $brand-primary;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: $sidebar-width;
    overflow-x: hidden;
    overflow-y: auto;

    &.right {
        left: auto;
        right: $sidebar-width-neg;
        padding-bottom: 10px;
    }

    #demo-nav.nav-pills>li {
        padding: 15px 15px 5px 15px;
        > a { font-size: 18px; padding: 10px 15px; }
    }

    .nav-pills {
        li { float: none; }
        a {
            color: #FFF;

            &:hover, &:focus { background: transparent; }
        }

        > li {
            > a { font-size: 28px; font-weight: 300; padding: 5px 15px; }
            .caret { display: none; }

            &.open {
                > a {
                    &, &:focus, &:hover { background: transparent; }
                }

                //.caret { transition: transform 0.2s ease-out; transform: rotate(180deg); }
            }

            .dropdown-menu {
                border: 0; display: block; position: relative; background: transparent; padding: 0; border-top: 0; box-shadow: none; top: -10px;

                &:before { display: none; }
                > li > a { font-size: 20px; padding-left: 35px; }
            }
        }
    }

    #menu-primary-navigation.nav-pills { margin-bottom: 20px; }
    #menu-secondary-nav.nav-pills > li {
        &.menu-search, &.menu-phone { display: none; }
        > a { font-size: 18px; line-height: 1; }
    }
}
