// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-graphic-me-logo-name: 'sp-graphic-me-logo';
$sp-graphic-me-logo-x: 0px;
$sp-graphic-me-logo-y: 296px;
$sp-graphic-me-logo-offset-x: 0px;
$sp-graphic-me-logo-offset-y: -296px;
$sp-graphic-me-logo-width: 201px;
$sp-graphic-me-logo-height: 31px;
$sp-graphic-me-logo-total-width: 433px;
$sp-graphic-me-logo-total-height: 432px;
$sp-graphic-me-logo-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-graphic-me-logo: (0px, 296px, 0px, -296px, 201px, 31px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-graphic-me-logo', );
$sp-icon-arrow-name: 'sp-icon-arrow';
$sp-icon-arrow-x: 398px;
$sp-icon-arrow-y: 248px;
$sp-icon-arrow-offset-x: -398px;
$sp-icon-arrow-offset-y: -248px;
$sp-icon-arrow-width: 20px;
$sp-icon-arrow-height: 20px;
$sp-icon-arrow-total-width: 433px;
$sp-icon-arrow-total-height: 432px;
$sp-icon-arrow-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-arrow: (398px, 248px, -398px, -248px, 20px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-arrow', );
$sp-icon-demo-lrg-name: 'sp-icon-demo-lrg';
$sp-icon-demo-lrg-x: 0px;
$sp-icon-demo-lrg-y: 387px;
$sp-icon-demo-lrg-offset-x: 0px;
$sp-icon-demo-lrg-offset-y: -387px;
$sp-icon-demo-lrg-width: 25px;
$sp-icon-demo-lrg-height: 45px;
$sp-icon-demo-lrg-total-width: 433px;
$sp-icon-demo-lrg-total-height: 432px;
$sp-icon-demo-lrg-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-demo-lrg: (0px, 387px, 0px, -387px, 25px, 45px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-demo-lrg', );
$sp-icon-demo-name: 'sp-icon-demo';
$sp-icon-demo-x: 321px;
$sp-icon-demo-y: 296px;
$sp-icon-demo-offset-x: -321px;
$sp-icon-demo-offset-y: -296px;
$sp-icon-demo-width: 11px;
$sp-icon-demo-height: 20px;
$sp-icon-demo-total-width: 433px;
$sp-icon-demo-total-height: 432px;
$sp-icon-demo-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-demo: (321px, 296px, -321px, -296px, 11px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-demo', );
$sp-icon-files-name: 'sp-icon-files';
$sp-icon-files-x: 0px;
$sp-icon-files-y: 0px;
$sp-icon-files-offset-x: 0px;
$sp-icon-files-offset-y: 0px;
$sp-icon-files-width: 139px;
$sp-icon-files-height: 139px;
$sp-icon-files-total-width: 433px;
$sp-icon-files-total-height: 432px;
$sp-icon-files-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-files: (0px, 0px, 0px, 0px, 139px, 139px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-files', );
$sp-icon-indd-name: 'sp-icon-indd';
$sp-icon-indd-x: 296px;
$sp-icon-indd-y: 0px;
$sp-icon-indd-offset-x: -296px;
$sp-icon-indd-offset-y: 0px;
$sp-icon-indd-width: 137px;
$sp-icon-indd-height: 137px;
$sp-icon-indd-total-width: 433px;
$sp-icon-indd-total-height: 432px;
$sp-icon-indd-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-indd: (296px, 0px, -296px, 0px, 137px, 137px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-indd', );
$sp-icon-lead-lrg-name: 'sp-icon-lead-lrg';
$sp-icon-lead-lrg-x: 359px;
$sp-icon-lead-lrg-y: 147px;
$sp-icon-lead-lrg-offset-x: -359px;
$sp-icon-lead-lrg-offset-y: -147px;
$sp-icon-lead-lrg-width: 43px;
$sp-icon-lead-lrg-height: 40px;
$sp-icon-lead-lrg-total-width: 433px;
$sp-icon-lead-lrg-total-height: 432px;
$sp-icon-lead-lrg-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-lead-lrg: (359px, 147px, -359px, -147px, 43px, 40px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-lead-lrg', );
$sp-icon-lead-name: 'sp-icon-lead';
$sp-icon-lead-x: 412px;
$sp-icon-lead-y: 147px;
$sp-icon-lead-offset-x: -412px;
$sp-icon-lead-offset-y: -147px;
$sp-icon-lead-width: 21px;
$sp-icon-lead-height: 20px;
$sp-icon-lead-total-width: 433px;
$sp-icon-lead-total-height: 432px;
$sp-icon-lead-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-lead: (412px, 147px, -412px, -147px, 21px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-lead', );
$sp-icon-minus-name: 'sp-icon-minus';
$sp-icon-minus-x: 241px;
$sp-icon-minus-y: 296px;
$sp-icon-minus-offset-x: -241px;
$sp-icon-minus-offset-y: -296px;
$sp-icon-minus-width: 20px;
$sp-icon-minus-height: 20px;
$sp-icon-minus-total-width: 433px;
$sp-icon-minus-total-height: 432px;
$sp-icon-minus-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-minus: (241px, 296px, -241px, -296px, 20px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-minus', );
$sp-icon-pdf-name: 'sp-icon-pdf';
$sp-icon-pdf-x: 147px;
$sp-icon-pdf-y: 149px;
$sp-icon-pdf-offset-x: -147px;
$sp-icon-pdf-offset-y: -149px;
$sp-icon-pdf-width: 137px;
$sp-icon-pdf-height: 137px;
$sp-icon-pdf-total-width: 433px;
$sp-icon-pdf-total-height: 432px;
$sp-icon-pdf-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-pdf: (147px, 149px, -147px, -149px, 137px, 137px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-pdf', );
$sp-icon-plus-name: 'sp-icon-plus';
$sp-icon-plus-x: 211px;
$sp-icon-plus-y: 296px;
$sp-icon-plus-offset-x: -211px;
$sp-icon-plus-offset-y: -296px;
$sp-icon-plus-width: 20px;
$sp-icon-plus-height: 20px;
$sp-icon-plus-total-width: 433px;
$sp-icon-plus-total-height: 432px;
$sp-icon-plus-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-plus: (211px, 296px, -211px, -296px, 20px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-plus', );
$sp-icon-process-lrg-name: 'sp-icon-process-lrg';
$sp-icon-process-lrg-x: 347px;
$sp-icon-process-lrg-y: 198px;
$sp-icon-process-lrg-offset-x: -347px;
$sp-icon-process-lrg-offset-y: -198px;
$sp-icon-process-lrg-width: 40px;
$sp-icon-process-lrg-height: 34px;
$sp-icon-process-lrg-total-width: 433px;
$sp-icon-process-lrg-total-height: 432px;
$sp-icon-process-lrg-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-process-lrg: (347px, 198px, -347px, -198px, 40px, 34px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-process-lrg', );
$sp-icon-process-name: 'sp-icon-process';
$sp-icon-process-x: 333px;
$sp-icon-process-y: 248px;
$sp-icon-process-offset-x: -333px;
$sp-icon-process-offset-y: -248px;
$sp-icon-process-width: 24px;
$sp-icon-process-height: 20px;
$sp-icon-process-total-width: 433px;
$sp-icon-process-total-height: 432px;
$sp-icon-process-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-process: (333px, 248px, -333px, -248px, 24px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-process', );
$sp-icon-quote-lrg-name: 'sp-icon-quote-lrg';
$sp-icon-quote-lrg-x: 0px;
$sp-icon-quote-lrg-y: 337px;
$sp-icon-quote-lrg-offset-x: 0px;
$sp-icon-quote-lrg-offset-y: -337px;
$sp-icon-quote-lrg-width: 33px;
$sp-icon-quote-lrg-height: 40px;
$sp-icon-quote-lrg-total-width: 433px;
$sp-icon-quote-lrg-total-height: 432px;
$sp-icon-quote-lrg-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-quote-lrg: (0px, 337px, 0px, -337px, 33px, 40px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-quote-lrg', );
$sp-icon-quote-name: 'sp-icon-quote';
$sp-icon-quote-x: 271px;
$sp-icon-quote-y: 296px;
$sp-icon-quote-offset-x: -271px;
$sp-icon-quote-offset-y: -296px;
$sp-icon-quote-width: 16px;
$sp-icon-quote-height: 20px;
$sp-icon-quote-total-width: 433px;
$sp-icon-quote-total-height: 432px;
$sp-icon-quote-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-quote: (271px, 296px, -271px, -296px, 16px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-quote', );
$sp-icon-sd-name: 'sp-icon-sd';
$sp-icon-sd-x: 397px;
$sp-icon-sd-y: 198px;
$sp-icon-sd-offset-x: -397px;
$sp-icon-sd-offset-y: -198px;
$sp-icon-sd-width: 29px;
$sp-icon-sd-height: 31px;
$sp-icon-sd-total-width: 433px;
$sp-icon-sd-total-height: 432px;
$sp-icon-sd-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-sd: (397px, 198px, -397px, -198px, 29px, 31px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-sd', );
$sp-icon-solution-lrg-name: 'sp-icon-solution-lrg';
$sp-icon-solution-lrg-x: 43px;
$sp-icon-solution-lrg-y: 337px;
$sp-icon-solution-lrg-offset-x: -43px;
$sp-icon-solution-lrg-offset-y: -337px;
$sp-icon-solution-lrg-width: 29px;
$sp-icon-solution-lrg-height: 40px;
$sp-icon-solution-lrg-total-width: 433px;
$sp-icon-solution-lrg-total-height: 432px;
$sp-icon-solution-lrg-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-solution-lrg: (43px, 337px, -43px, -337px, 29px, 40px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-solution-lrg', );
$sp-icon-solution-name: 'sp-icon-solution';
$sp-icon-solution-x: 297px;
$sp-icon-solution-y: 296px;
$sp-icon-solution-offset-x: -297px;
$sp-icon-solution-offset-y: -296px;
$sp-icon-solution-width: 14px;
$sp-icon-solution-height: 20px;
$sp-icon-solution-total-width: 433px;
$sp-icon-solution-total-height: 432px;
$sp-icon-solution-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-solution: (297px, 296px, -297px, -296px, 14px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-solution', );
$sp-icon-training-lrg-name: 'sp-icon-training-lrg';
$sp-icon-training-lrg-x: 296px;
$sp-icon-training-lrg-y: 198px;
$sp-icon-training-lrg-offset-x: -296px;
$sp-icon-training-lrg-offset-y: -198px;
$sp-icon-training-lrg-width: 41px;
$sp-icon-training-lrg-height: 40px;
$sp-icon-training-lrg-total-width: 433px;
$sp-icon-training-lrg-total-height: 432px;
$sp-icon-training-lrg-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-training-lrg: (296px, 198px, -296px, -198px, 41px, 40px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-training-lrg', );
$sp-icon-training-name: 'sp-icon-training';
$sp-icon-training-x: 367px;
$sp-icon-training-y: 248px;
$sp-icon-training-offset-x: -367px;
$sp-icon-training-offset-y: -248px;
$sp-icon-training-width: 21px;
$sp-icon-training-height: 20px;
$sp-icon-training-total-width: 433px;
$sp-icon-training-total-height: 432px;
$sp-icon-training-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-training: (367px, 248px, -367px, -248px, 21px, 20px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-training', );
$sp-icon-webcast-lrg-name: 'sp-icon-webcast-lrg';
$sp-icon-webcast-lrg-x: 296px;
$sp-icon-webcast-lrg-y: 147px;
$sp-icon-webcast-lrg-offset-x: -296px;
$sp-icon-webcast-lrg-offset-y: -147px;
$sp-icon-webcast-lrg-width: 53px;
$sp-icon-webcast-lrg-height: 41px;
$sp-icon-webcast-lrg-total-width: 433px;
$sp-icon-webcast-lrg-total-height: 432px;
$sp-icon-webcast-lrg-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-webcast-lrg: (296px, 147px, -296px, -147px, 53px, 41px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-webcast-lrg', );
$sp-icon-webcast-name: 'sp-icon-webcast';
$sp-icon-webcast-x: 296px;
$sp-icon-webcast-y: 248px;
$sp-icon-webcast-offset-x: -296px;
$sp-icon-webcast-offset-y: -248px;
$sp-icon-webcast-width: 27px;
$sp-icon-webcast-height: 21px;
$sp-icon-webcast-total-width: 433px;
$sp-icon-webcast-total-height: 432px;
$sp-icon-webcast-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-webcast: (296px, 248px, -296px, -248px, 27px, 21px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-webcast', );
$sp-icon-xls-name: 'sp-icon-xls';
$sp-icon-xls-x: 0px;
$sp-icon-xls-y: 149px;
$sp-icon-xls-offset-x: 0px;
$sp-icon-xls-offset-y: -149px;
$sp-icon-xls-width: 137px;
$sp-icon-xls-height: 137px;
$sp-icon-xls-total-width: 433px;
$sp-icon-xls-total-height: 432px;
$sp-icon-xls-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-xls: (0px, 149px, 0px, -149px, 137px, 137px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-xls', );
$sp-icon-zip-name: 'sp-icon-zip';
$sp-icon-zip-x: 149px;
$sp-icon-zip-y: 0px;
$sp-icon-zip-offset-x: -149px;
$sp-icon-zip-offset-y: 0px;
$sp-icon-zip-width: 137px;
$sp-icon-zip-height: 137px;
$sp-icon-zip-total-width: 433px;
$sp-icon-zip-total-height: 432px;
$sp-icon-zip-image: '../images/partners/portal/partner-portal-sprites.png';
$sp-icon-zip: (149px, 0px, -149px, 0px, 137px, 137px, 433px, 432px, '../images/partners/portal/partner-portal-sprites.png', 'sp-icon-zip', );
$spritesheet-width: 433px;
$spritesheet-height: 432px;
$spritesheet-image: '../images/partners/portal/partner-portal-sprites.png';
$spritesheet-sprites: ($sp-graphic-me-logo, $sp-icon-arrow, $sp-icon-demo-lrg, $sp-icon-demo, $sp-icon-files, $sp-icon-indd, $sp-icon-lead-lrg, $sp-icon-lead, $sp-icon-minus, $sp-icon-pdf, $sp-icon-plus, $sp-icon-process-lrg, $sp-icon-process, $sp-icon-quote-lrg, $sp-icon-quote, $sp-icon-sd, $sp-icon-solution-lrg, $sp-icon-solution, $sp-icon-training-lrg, $sp-icon-training, $sp-icon-webcast-lrg, $sp-icon-webcast, $sp-icon-xls, $sp-icon-zip, );
$spritesheet: (433px, 432px, '../images/partners/portal/partner-portal-sprites.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
